/* PARRAFO FILTRO */
.p-filtro {
  font-size: 21px;
  font-weight: 300;
  color: #02a69a;
}
/* PARRAFO FILTRO */
.separacion-filtro-color {
  background-color: #02a69a;
}

/* Color striped table */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #02a69a;
  color: whitesmoke;
}

:host ::ng-deep.mat-raised-button {
  /* border: 1px solid #02a69a; */
  outline: none !important;
}

::ng-deep.img-prop {
  width: 34px !important;
  height: 34px !important;
  border-radius: 50% !important;
}

::ng-deep.img-p-sp {
  background: none !important;
  margin: 0px !important;
  padding: 0px !important;
}

:host ::ng-deep.mat-flat-button {
  /* border: 1px solid #02a69a; */
  outline: none !important;
}

:host ::ng-deep.mat-stroked-button {
  /* border: 1px solid #02a69a; */
  outline: none !important;
}
