/* PARRAFO FILTRO */
.p-filtro {
  font-size: 21px;
  font-weight: 300;
  color: #02a69a;
}
/* PARRAFO FILTRO */
.separacion-filtro-color {
  background-color: #02a69a;
}

/* Color striped table */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #02a69a;
  color: whitesmoke;
}

:host ::ng-deep.mat-raised-button {
  /* border: 1px solid #02a69a; */
  outline: none !important;
}

::ng-deep.img-prop {
  width: 34px !important;
  height: 34px !important;
  border-radius: 50% !important;
}

::ng-deep.img-p-sp {
  background: none !important;
  margin: 0px !important;
  padding: 0px !important;
}

:host ::ng-deep.mat-flat-button {
  /* border: 1px solid #02a69a; */
  outline: none !important;
}

:host ::ng-deep.mat-stroked-button {
  /* border: 1px solid #02a69a; */
  outline: none !important;
}

/* Nuevas */
:host ::ng-deep.mat-select {
  color: white !important;
}

::placeholder {
  color: #ccd1d9;
}

.not-empty-select.mat-selected {
  color: black !important;
}

:host /deep/ .mat-select-value-text {
  color: black !important;
}

/* Select input  */
:host ::ng-deep .mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
  color: rgba(0, 0, 0, 0.42);
}
:host ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #02a69a !important;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}

:host ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #02a69a !important;
}

:host ::ng-deep.underline-p .mat-form-field .mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(0, 0, 0, 0.42) !important;
}

:host ::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #02a69a !important;
}

:host ::ng-deep.mat-option::selection {
  color: #02a69a;
}
:host ::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #02a69a !important;
}

:host ::ng-deep.mat-option.mat-active {
  color: #02a69a !important;
}

::ng-deep.range-number:focus {
  outline: none;
  box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff; /* Allows border radius on focus */
}

button:active {
  /* background-position-y: 1px; */
  box-shadow: inset 0 2px 12px -4px #c5d1d9 !important;
}
/* Input range numérico */
:host ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(0, 0, 0, 0.42) !important;
}

/* Propiedades imput ubicación */
:host ::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #02a69a !important;
}

::ng-deep.mat-step-header .mat-step-icon-selected {
  background-color: #02a69a !important;
}

::ng-deep.mat-step-header .mat-step-icon-state-done {
  background-color: #02a69a !important;
}

::ng-deep.mat-horizontal-stepper-header .mat-step-icon {
  font-size: 12px !important;
}

::ng-deep.mat-step-header .mat-step-icon-state-edit {
  background-color: #02a69a !important;
}
