<div class="container" style="z-index: 0 !important;">
  <section class="ftco-section goto-here">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-md-12 heading-section text-center animate__animated animate__fadeIn mb-5"
        >
          <span class="subheading mb-4"
            >Una experiencia calificada por nuestros
            <u style="text-decoration: none; border-bottom: 1px solid #00a699;"
              >usuarios</u
            >
          </span>
          <h2 class="mb-2">Propiedades destacadas del mes</h2>
        </div>
      </div>
      <!-- Inicio Carousel -->
      <div class="row propiedad-destacadas-carousel">
        <div class="col-md-12">
          <div class="carousel-properties owl-carousel">
            <!-- Primer item -->
            <div class="item" *ngFor="let propiedad of propiedades">
              <div class="property-wrap animate__animated animate__fadeIn">
                <button
                  mat-icon-button
                  color="warn"
                  style="position: absolute;"
                >
                  <span class="material-icons">
                    favorite
                  </span>
                </button>
                <a
                  [routerLink]="['/propiedad', '1']"
                  class="img"
                  [ngStyle]="{
                    'background-image': 'url(' + propiedad.imagen + ')'
                  }"
                >
                  <div
                    class="rent-sale"
                    *ngIf="propiedad.estado == 'disponible'"
                  >
                    <span class="rent">
                      ¡{{ propiedad.estado | titlecase }}!
                    </span>
                  </div>

                  <div
                    class="rent-sale"
                    *ngIf="propiedad.estado == 'no disponible'"
                  >
                    <span class="sale">
                      {{ propiedad.estado | titlecase }}
                    </span>
                  </div>

                  <p class="price d-flex justify-content-between">
                    <span class="orig-price"
                      >${{ propiedad.precio }}<small> / día</small></span
                    >
                    <span class="img-p-sp"
                      ><img
                        class="img-prop shadow"
                        src="assets/images/des/image_6.jpg"
                        title="Julian D."
                    /></span>
                  </p>
                </a>
                <div class="feature-text border-0">
                  <div class="text-center feature-title">
                    <h5>{{ propiedad.nombre | titlecase }}</h5>
                    <p>
                      <i class="fa fa-map-marker"></i>
                      {{ propiedad.ubicacion | titlecase }}
                    </p>
                  </div>
                  <div class="col-md-12 text-center text-warning">
                    <i
                      class="fa fa-star"
                      *ngFor="let n of numSequence(propiedad.calificacion)"
                    ></i>
                  </div>
                  <div class="room-info-warp">
                    <div class="room-info">
                      <div class="rf-left">
                        <p class="d-flex align-items-center">
                          <span class="material-icons bac-c-m mr-2">
                            tab_unselected
                          </span>
                          200m <sup>2</sup>
                        </p>

                        <p class="d-flex align-items-center">
                          <span class="material-icons bac-c-m mr-2">
                            person_add
                          </span>
                          10 personas
                        </p>
                      </div>
                      <div class="rf-right">
                        <p class="d-flex align-items-center">
                          <span class="material-icons bac-c-m mr-2">
                            waves </span
                          >1 piscina
                        </p>
                        <p class="d-flex align-items-center">
                          <span class="material-icons bac-c-m mr-2">
                            bathtub
                          </span>
                          2 baños
                        </p>
                      </div>
                    </div>
                    <div class="room-info pb-3">
                      <div class="row justify-content-between">
                        <div class="col-2">
                          <button
                            mat-icon-button
                            color="warn"
                            class="modif-but"
                          >
                            <span class="material-icons">
                              favorite
                            </span>
                          </button>
                        </div>
                        <div class="col-3">
                          <button mat-icon-button class="modif-but">
                            <span class="material-icons">
                              navigate_next
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Primer item -->
          </div>
        </div>
      </div>

      <!-- Fin carousel -->
    </div>
  </section>
</div>
