<!-- Primer item -->
<div class="item">
  <div class="property-wrap animate__animated animate__fadeIn">
    <a
      [routerLink]="['/propiedad', '1']"
      class="img"
      [ngStyle]="{
        'background-image': 'url(' + propiedad.imagen + ')'
      }"
    >
      <div class="rent-sale" *ngIf="propiedad.estado == 'disponible'">
        <span class="rent"> ¡{{ propiedad.estado | titlecase }}! </span>
      </div>

      <div class="rent-sale" *ngIf="propiedad.estado == 'no disponible'">
        <span class="sale"> {{ propiedad.estado | titlecase }} </span>
      </div>

      <p class="price">
        <span class="orig-price"
          >${{ propiedad.precio }}<small> / día</small></span
        >
      </p>
    </a>
    <div class="feature-text border-0">
      <div class="text-center feature-title">
        <h5>{{ propiedad.nombre | titlecase }}</h5>
        <p>
          <i class="fa fa-map-marker"></i> {{ propiedad.ubicacion | titlecase }}
        </p>
      </div>
      <div class="col-md-12 text-center text-warning">
        <i
          class="fa fa-star"
          *ngFor="let n of numSequence(propiedad.calificacion)"
        ></i>
      </div>
      <div class="room-info-warp">
        <div class="room-info">
          <div class="rf-left">
            <p><i class="fa fa-user"></i> 6 personas</p>

            <p><i class="fa fa-bed"></i> 4 camas</p>
          </div>
          <div class="rf-right">
            <p><i class="fa fa-car"></i> 2 Autos</p>
            <p><i class="fa fa-bath"></i> 2 Baños</p>
          </div>
        </div>
        <div class="room-info pb-3">
          <div class="text">
            <div class="list-team d-flex align-items-center">
              <div class="d-flex align-items-center">
                <div
                  class="img"
                  style="background-image: url(assets/images/des/linkedin.jpg);"
                ></div>
                <h3 class="ml-2">Julián D.</h3>
              </div>
              <span class="text-right">Hace 2 días</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Primer item -->
