<!-- As a link -->
<div class="container sticky-top py-1 shadow-sm nav-e-prop-mobile" style="z-index: 4;">
    <div class="row align-items-center justify-content-center">
      <div class="col-10">
        <button mat-icon-button class="modif-but" [routerLink]="['/home']" >
          <span class="material-icons">
            keyboard_arrow_left
            </span>
        </button>
      </div>
      <div class="col-2">
        <a class="navbar-brand logo-class" [routerLink]="['/']">
          <img src="assets/images/icono2.png" width="40" height="40" alt="" />
        </a>
      </div>
    </div>
  </div>
  