<section
  class="hero-wrap hero-wrap-2"
  style="background-image: url('assets/images/place-3.jpg');"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
    >
    
      <div class="col-md-9 ftco-animate pb-0 text-center">
        <h1 class="mb-3 bread texto-principal">
          Los mejores lugares para hospedarse
          <u style="text-decoration: none; border-bottom: 3px solid #118d6e;"
            >todo el año</u
          >.
        </h1>
      </div>
    </div>
    
  </div>
</section>
