<section
  class="hero-wrap hero-wrap-2"
  style="
    background-image: url('assets/images/background1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
    >
      <div class="col-md-9 animate__animated animate__fadeIn pb-0 text-center">
        <h1 class="mb-3 bread texto-principal">
          Los mejores lugares para hospedarse
          <u style="text-decoration: none; border-bottom: 3px solid #02a69a"
            >todo el año</u
          >.
        </h1>
      </div>
    </div>
  </div>
</section>
