.texto-principal {
  font-weight: 200 !important;
}

@media (min-width: 481px) and (max-width: 767px) {
  
  
  
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  .texto-principal {
    font-size: 36px; 
  }
  
}
