.contact-form-card {
  padding: 29px;
  border: 1px solid #ebebeb;
  border-radius: 1px;
  margin-bottom: 80px;
}

.contact-form-card h5 {
  font-weight: 400;
  margin-bottom: 0px;
}

.contact-form-card input,
.contact-form-card textarea {
  width: 100%;
  border: 1px solid #ebebeb;
  margin-bottom: 17px;
  height: 36px;
  padding: 0 20px;
}

.contact-form-card textarea {
  height: 100px;
  padding: 10px 20px;
}

/* .contact-form-card button {
  background: #30caa0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  min-width: 80px;
  height: 30px;
  border-radius: 1px;
  cursor: pointer;
} */

.seccion-formulario-reservacion {
  height: 1500px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .seccion-formulario-reservacion {
    height: 200px;
  }
}

.titulo-reserv{
  font-weight: 800;
}

/* Tamaño de los h5 indicando filtro */
.h5-size{
  font-size: 14.5px !important;
  margin-bottom: 1.3rem !important;
  display: flex;
  align-items: center;
}

.h5-size-2{
  margin-top: 20px !important;
  margin-bottom: 5px !important;

}

::ng-deep.bac-c-m{
  color: #02A69A;
  margin-right: 0.5rem !important;
}