.contact-form-card {
  padding: 29px;
  border-radius: 1px;
  margin-bottom: 80px;
}

.contact-form-card h5 {
  font-weight: 400;
  margin-bottom: 0px;
}

.seccion-formulario-reservacion {
  height: 1800px;
}

@media (min-width: 481px) and (max-width: 768px) {
  .seccion-formulario-reservacion {
    height: 700px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .seccion-formulario-reservacion {
    height: 700px;
  }
}
.titulo-reserv {
  font-weight: 800;
}

/* Tamaño de los h5 indicando filtro */
.h5-size {
  font-size: 14.5px !important;
  margin-bottom: 1.3rem !important;
  display: flex;
  align-items: center;
}

.h5-size-2 {
  margin-top: 20px !important;
  margin-bottom: 5px !important;
}

::ng-deep.bac-c-m {
  color: #02a69a;
  margin-right: 0.5rem !important;
}

/* Input range numérico */
::ng-deep.range-number {
  font-size: 18px;
  font-weight: 400 !important;
  height: 4rem;
  padding: 0 4rem;
  border-radius: 2rem;
  border: 0;
  background: #fff;
  color: #222;
  box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-weight: lighter;
}

.input-group {
  border-radius: 2rem;
}

::ng-deep.range-number:focus {
  outline: none;
  box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff; /* Allows border radius on focus */
}

.boton-input {
  color: black;
  position: relative;
  /* width: 2.8rem; */
  width: 2rem;
  height: 2rem;
  top: 0.6rem;
  /* display: block; */
  padding: 0;
  border: 0;
  border-color: #02a69a !important;

  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  border-radius: 1.4rem;
  cursor: pointer;
  transition: opacity 0.15s;
  opacity: 0.5;
}

.plus-btn {
  background: url("/assets/mas_verde.svg") no-repeat 0 0;
  background-size: 20px 40px;
  background-position: center;
  /* background-color: #02A69A; */
  margin-right: 5px;
}

.minus-btn {
  background: url("/assets/menos_verde.svg") no-repeat 0 0;
  background-size: 20px 40px;
  background-position: center;
  /* background-color: #02A69A; */
  margin-left: 5px;
}

button:active {
  /* background-position-y: 1px; */
  box-shadow: inset 0 2px 12px -4px #c5d1d9 !important;
}
/* Input range numérico */

:host ::ng-deep.mat-stroked-button {
  /* border: 1px solid #02a69a; */
  outline: none !important;
}

/* Loading */
.lds-dual-ring {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  /* margin: 8px; */
  border-radius: 50%;
  border: 6px solid #02a69a;
  border-color: #02a69a transparent #02a69a transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loading */
