<form
  autocomplete="off"
  [formGroup]="reservar_data"
  (ngSubmit)="reservarPropiedad()"
>
  <div class="seccion-formulario-reservacion">
    <div
      class="container-fluid contact-form-card rounded sticky-top shadow bg-white mt-2"
      style="z-index: 0 !important"
    >
      <div class="row">
        <div class="col-12">
          <h5 class="titulo-reserv">Reservación</h5>
          <hr style="background: #02a69a" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5 class="h5-size h5-size-2">
            <span class="material-icons bac-c-m mr-2"> date_range </span>Fecha
            de ingreso / egreso
          </h5>
          <app-date-picker-reserva
            *ngIf="propiedad"
            [propiedad]="propiedad"
            (intervalo_seleccinado)="recogerFechas($event)"
          ></app-date-picker-reserva>
          <button
            mat-stroked-button
            style="width: 100% !important"
            (click)="openDialog()"
            type="button"
          >
            Tabla de precios
          </button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <h5 class="h5-size">
            <span class="material-icons bac-c-m mr-2"> person_add </span
            >Huéspedes
          </h5>
          <!-- <app-number-spinner></app-number-spinner> -->
          <div class="input-group shadow">
            <button
              class="btn btn-sm border-right boton-input minus-btn"
              type="button"
              (click)="
                reducirInput({
                  personas_hospedar: 0
                })
              "
            ></button>
            <input
              type="number"
              class="form-control range-number"
              min="1"
              disabled
              formControlName="personas_hospedar"
            />
            <button
              type="button"
              class="btn btn-sm border-left boton-input plus-btn"
              (click)="
                incrementarInput({
                  personas_hospedar: 0
                })
              "
            >
              +
            </button>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <hr style="background: #02a69a" />

          <h5 class="h5-size">
            <span class="material-icons bac-c-m mr-2"> attach_money </span>
            <span
              style="font-weight: 600"
              class="mr-3"
              [ngStyle]="{
                'text-decoration': colorClase(
                  reservar_data.get('precio_reserva').value
                )
              }"
              >{{ reservar_data.get("precio").value | currency: "":"" }}</span
            >
            Total
          </h5>
          <h5 class="h5-size">
            <span class="material-icons bac-c-m mr-2"> attach_money </span>
            <span style="font-weight: 600" class="mr-3">{{
              reservar_data.get("precio_reserva").value | currency: "":""
            }}</span>
            Reserva
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            mat-flat-button
            color="primary"
            style="width: 100% !important; background: #02a69a !important"
            type="submit"
            *ngIf="!reservar_permitido_denegado"
            disabled
          >
            Reservar
          </button>
          <p
            *ngIf="!reservar_permitido_denegado"
            style="font-size: 12px; color: darkgrey"
            class="mt-2 mb-0 text-center"
          >
            Necesita estar registrado para reservar.
          </p>
          <button
            mat-flat-button
            color="primary"
            style="width: 100% !important; background: #02a69a !important"
            type="submit"
            *ngIf="reservar_permitido_denegado"
          >
            Reservar
          </button>
        </div>
        <div
          class="col-12 d-flex justify-content-center align-items-center mt-3"
        >
          <div class="lds-dual-ring" *ngIf="loading"></div>
          <p
            class="text-center m-0"
            style="color: #02a69a"
            *ngIf="loading_text"
          >
            Su reserva se realizó correctamente
          </p>
          <p
            class="text-center m-0"
            style="color: rgb(203, 50, 52)"
            *ngIf="loading_error"
          >
            Por favor, complete los campos antes de reservar
          </p>
        </div>
      </div>
    </div>
  </div>
</form>
