<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-12">
      <div class="row my-5">
        <div class="col-12 text-center">
          <img
            src="../../../assets//images//icono2.png"
            alt=""
            width="300"
            height="300"
          />
          <p class="p-filtro mt-4">¡Esta sección estará en breve pronto!</p>
          <p class="p-filtro m-0 p-0" style="font-size: 16px !important">
            Gracias por confiar en nosotros :)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
