<form
  autocomplete="off"
  [formGroup]="filtro_form"
  (ngSubmit)="guardarFormulario()"
>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-6 d-flex">
        <p class="p-filtro p-0 m-0">Filtros</p>
      </div>
      <div class="col-6 d-flex flex-row-reverse align-items-center">
        <button
          mat-mini-fab
          type="submit"
          mat-icon-button
          class="modif-but mr-2 ml-2"
          style="background: #02a69a"
        >
          <span class="material-icons"> keyboard_arrow_right </span>
        </button>
        <p class="m-0 p-0">Aplicar</p>
      </div>
    </div>
    <hr class="separacion-filtro-color" />

    <div class="row mt-5">
      <div class="col-12">
        <h5
          style="font-size: 16.5px !important"
          class="d-flex align-items-center"
        >
          <span class="material-icons bac-c-m"> house </span>Propiedad
        </h5>
        <div class="underline-p">
          <mat-form-field>
            <mat-label class="text-white">Propiedad</mat-label>
            <mat-select formControlName="propiedad">
              <mat-option value="cualquiera">Cualquiera</mat-option>
              <mat-option value="quinta">Quinta</mat-option>
              <mat-option value="cabana">Cabaña</mat-option>
              <mat-option value="ccountry">Casa country</mat-option>
              <mat-option value="estancia">Estancia</mat-option>
              <mat-option value="chalet">Chalet</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h5 class="h5-size">
          <span class="material-icons bac-c-m mr-2"> person_add </span>Capacidad
          de Alojamiento
        </h5>
        <div class="input-group shadow">
          <button
            class="btn btn-sm border-right boton-input minus-btn"
            type="button"
            (click)="
              reducirInput({
                huespedes: 0
              })
            "
          ></button>
          <input
            type="number"
            class="form-control range-number"
            min="1"
            disabled
            formControlName="huespedes"
          />
          <button
            type="button"
            class="btn btn-sm border-left boton-input plus-btn"
            (click)="
              incrementarInput({
                huespedes: 0
              })
            "
          >
            +
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h5 class="h5-size">
          <span class="material-icons bac-c-m mr-2"> king_bed </span>Dormitorios
        </h5>
        <div class="input-group shadow">
          <button
            class="btn btn-sm border-right boton-input minus-btn"
            type="button"
            (click)="
              reducirInput({
                dormitorios: 0
              })
            "
          ></button>
          <input
            type="number"
            class="form-control range-number"
            min="1"
            disabled
            formControlName="dormitorios"
          />
          <button
            type="button"
            class="btn btn-sm border-left boton-input plus-btn"
            (click)="
              incrementarInput({
                dormitorios: 0
              })
            "
          >
            +
          </button>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <h5 class="h5-size">
          <span class="material-icons bac-c-m mr-2"> bathtub </span>Baños
        </h5>
        <div class="input-group shadow">
          <button
            class="btn btn-sm border-right boton-input minus-btn"
            type="button"
            (click)="
              reducirInput({
                banos: 0
              })
            "
          ></button>
          <input
            type="number"
            class="form-control range-number"
            min="1"
            disabled
            formControlName="banos"
          />
          <button
            type="button"
            class="btn btn-sm border-left boton-input plus-btn"
            (click)="
              incrementarInput({
                banos: 0
              })
            "
          >
            +
          </button>
        </div>
      </div>
    </div>

    <hr class="mt-5 separacion-filtro-color" />

    <div class="row mt-5 t-fuente-mov t-fuente-mov">
      <div class="col-6 d-f-item">
        <span class="material-icons bac-c-m mr-2"> wifi </span>
        <mat-slide-toggle formControlName="internet">Internet</mat-slide-toggle>
      </div>
      <div class="col-6 d-f-item">
        <span class="material-icons bac-c-m"> tv </span>
        <mat-slide-toggle formControlName="tv">TV/Cable</mat-slide-toggle>
      </div>
      <div class="col-6 d-f-item">
        <span class="material-icons bac-c-m"> waves </span>
        <mat-slide-toggle formControlName="piscina">Piscina</mat-slide-toggle>
      </div>
      <div class="col-6 d-f-item">
        <span class="material-icons bac-c-m"> local_police </span>
        <mat-slide-toggle formControlName="seguridad"
          >Seguridad</mat-slide-toggle
        >
      </div>
    </div>

    <hr class="mt-5 separacion-filtro-color" />

    <div class="row mt-5 mb-3 t-fuente-mov">
      <div class="col-6 d-flex">
        <span class="material-icons bac-c-m"> pets </span>
        <mat-checkbox formControlName="mascotas">Mascotas</mat-checkbox>
      </div>
      <div class="col-6 d-flex">
        <span class="material-icons bac-c-m"> family_restroom </span>
        <mat-checkbox formControlName="solo_familia"
          >Solo Famiilia</mat-checkbox
        >
      </div>
      <div class="col-6 d-flex">
        <span class="material-icons bac-c-m"> local_laundry_service </span>
        <mat-checkbox formControlName="serv_limpieza">S Limpieza</mat-checkbox>
      </div>
      <div class="col-6 d-flex">
        <span class="material-icons bac-c-m"> outdoor_grill </span>
        <mat-checkbox formControlName="parilla">Parilla</mat-checkbox>
      </div>
      <div class="col-6 d-flex">
        <span class="material-icons bac-c-m"> ac_unit </span>
        <mat-checkbox formControlName="aire_acondicionado"
          >Climatización</mat-checkbox
        >
      </div>
      <div class="col-6 d-flex">
        <span class="material-icons bac-c-m"> cake </span>
        <mat-checkbox formControlName="apto_eventos">Apto Eventos</mat-checkbox>
      </div>
    </div>
  </div>
</form>
