<nav
  class="navbar navbar-expand-sm ftco-navbar-light border-bottom"
  id="ftco-navbar"
>
  <div class="container justify-content-center align-items-center">
    <a class="navbar-brand logo-class" [routerLink]="['/']">
      <img src="assets/images/icono2.png" width="60" height="60" alt="" />
      Todo<span style="color: #02a69a">Quintas</span>
    </a>
    <!-- <a class="navbar-brand" href="index.html">TodoQuintas</a> -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active d-flex align-items-center">
          <a
            href="#"
            class="nav-link color-item"
            [routerLink]="['/usuario', 'publicar']"
            >Publicá una propiedad</a
          >
        </li>
        <li class="nav-item">
          <a
            href="#"
            (click)="auth.login()"
            *ngIf="!auth.loggedIn"
            class="nav-link ingr"
            >Ingresá</a
          >
        </li>
        <li *ngIf="auth.loggedIn">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <span
              class="material-icons md-24"
              style="color: #00a699; font-size: 25px !important"
            >
              account_circle
            </span>
          </button>

          <!-- Menú -->
          <mat-menu #menu="matMenu" yPosition="above">
            <button
              mat-menu-item
              class="button-d-fle-item"
              [routerLink]="['/usuario', 'favoritos']"
            >
              <span class="material-icons iconos-nav-user"> favorite </span>
              <span>Favoritos</span>
            </button>
            <button
              mat-menu-item
              class="button-d-fle-item"
              [routerLink]="['/usuario', 'reservas']"
            >
              <span class="material-icons iconos-nav-user"> event </span>
              <span>Reservas</span>
            </button>
            <button
              mat-menu-item
              class="button-d-fle-item"
              [routerLink]="['/usuario', 'propiedades']"
            >
              <span class="material-icons iconos-nav-user"> home </span>
              <span>Propiedades</span>
            </button>
            <hr class="my-1 mx-3 p-0" />
            <button
              mat-menu-item
              class="button-d-fle-item"
              [routerLink]="['/usuario', 'datos']"
            >
              <span class="material-icons iconos-nav-user">
                admin_panel_settings
              </span>
              <span>Datos</span>
            </button>
            <hr class="my-1 mx-3 p-0" />
            <button
              mat-menu-item
              class="button-d-fle-item"
              (click)="limpiarStorage()"
            >
              <span class="material-icons iconos-nav-user"> exit_to_app </span>
              <span>Cerrar Sesión</span>
            </button>
          </mat-menu>
          <!-- Menú -->
        </li>
      </ul>
    </div>
  </div>
</nav>
