<!-- Formulario -->
<form
  autocomplete="off"
  [formGroup]="prop_data"
  (ngSubmit)="guardarFormulario()"
>
  <div>
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
      <mat-step>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6">
            <p class="p-filtro p-0 mt-2 text-center">
              Información sobre la propiedad
            </p>
            <hr class="mb-5 separacion-filtro-color" />
          </div>
        </div>
        <!-- Input Select propiedad -->
        <div class="form-group row justify-content-center">
          <div class="col-12 col-lg-6">
            <h5
              style="font-size: 16.5px !important"
              class="d-flex align-items-center"
            >
              <span class="material-icons bac-c-m"> house </span>Propiedad
            </h5>
            <div class="underline-p">
              <mat-form-field>
                <mat-label class="text-white">Propiedad</mat-label>
                <mat-select formControlName="tipo_propiedad">
                  <mat-option value="quinta">Quinta</mat-option>
                  <mat-option value="cabana">Cabaña</mat-option>
                  <mat-option value="ccountry">Casa country</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Input Select propiedad -->

        <!-- Input nombre de la propieadad -->
        <div class="form-group row justify-content-center">
          <div class="col-12 col-lg-6">
            <h5
              style="font-size: 16.5px !important"
              class="d-flex align-items-center"
            >
              <span class="material-icons bac-c-m"> create </span>Nombre<span
                [matTooltip]="descripcion_ayuda_nombre_propiedad"
                matTooltipPosition="right"
                class="ml-2 material-icons"
              >
                help_outline
              </span>
            </h5>
            <div>
              <mat-form-field class="example-full-width">
                <mat-label>Nombre de Fantasía</mat-label>
                <input
                  matInput
                  formControlName="nombre_propiedad"
                  placeholder="Ejemplo: 'La soñada'"
                />
                <mat-error *ngIf="nombreNoValidoPropiedad">
                  Por favor, ingrese un <strong>nombre</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Input nombre de la propieadad -->
        <!-- Input descripción de la propiedad -->
        <div class="form-group row justify-content-center">
          <div class="col-12 col-lg-6">
            <h5
              style="font-size: 16.5px !important"
              class="d-flex align-items-center"
            >
              <span class="material-icons bac-c-m"> description </span
              >Descripción
              <span
                [matTooltip]="descripcion_ayuda_descripcion_propiedad"
                matTooltipPosition="right"
                class="ml-2 material-icons"
                >help_outline</span
              >
            </h5>
            <div>
              <mat-form-field class="example-full-width">
                <mat-label>Descripción</mat-label>

                <textarea
                  matInput
                  placeholder="Nuestra vivienda cuenta con ..."
                  rows="5"
                  cols="40"
                  formControlName="descripcion"
                ></textarea>
                <mat-error *ngIf="descripcionNoValida">
                  Por favor, ingrese una <strong>descripción</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Input descripción de la propiedad -->

        <!-- Input Metros cuadrados -->
        <div class="form-group row justify-content-center">
          <div class="col-12 col-lg-6">
            <h5
              style="font-size: 16.5px !important"
              class="d-flex align-items-center"
            >
              <span class="material-icons bac-c-m"> tab </span>Metros Cuadrados
              (Totales)
            </h5>
            <div>
              <mat-form-field>
                <mat-label>m<sup>2</sup></mat-label>
                <input
                  type="number"
                  matInput
                  formControlName="metros_cuadrado"
                />
                <mat-error *ngIf="metrosCuadradosTotalesNoValido">
                  Los metros cuadrados totales son <strong>requeridos</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Input Metros cuadrados -->

        <!-- Input Metros cuadrados cubiertos -->
        <div class="form-group row justify-content-center">
          <div class="col-12 col-lg-6">
            <h5
              style="font-size: 16.5px !important"
              class="d-flex align-items-center"
            >
              <span class="material-icons bac-c-m"> tab_unselected </span>Metros
              Cuadrados (Cubiertos)
            </h5>
            <div class="">
              <mat-form-field>
                <mat-label>m<sup>2</sup></mat-label>
                <input
                  type="number"
                  matInput
                  formControlName="metros_cuadrado_cubiertos"
                />
                <mat-error *ngIf="metrosCuadradosCubiertosNoValido">
                  Los metros cuadrados cubiertos son <strong>requeridos</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Input Metros cuadrados cubiertos -->

        <!-- Input Capacidad de personas -->
        <div class="form-group row justify-content-center mt-3">
          <div class="col-12 col-lg-6">
            <h5 class="h5-size">
              <span class="material-icons bac-c-m mr-2"> person_add </span
              >Capacidad de Alojamiento
            </h5>
            <div class="input-group shadow">
              <button
                class="btn btn-sm border-right boton-input minus-btn"
                type="button"
                (click)="
                  reducirInput({
                    capacidad_alojamiento: 0
                  })
                "
              ></button>
              <input
                type="number"
                class="form-control range-number"
                min="1"
                disabled
                formControlName="capacidad_alojamiento"
              />
              <button
                type="button"
                class="btn btn-sm border-left boton-input plus-btn"
                (click)="
                  incrementarInput({
                    capacidad_alojamiento: 0
                  })
                "
              >
                +
              </button>
            </div>
          </div>
        </div>
        <!-- Input Capacidad de personas -->

        <!-- Input dormitorios de personas -->
        <div class="form-group row justify-content-center mt-5">
          <div class="col-12 col-lg-6">
            <h5 class="h5-size">
              <span class="material-icons bac-c-m mr-2"> king_bed </span
              >Dormitorios
            </h5>
            <div class="input-group shadow">
              <button
                class="btn btn-sm border-right boton-input minus-btn"
                type="button"
                (click)="
                  reducirInput({
                    dormitorios: 0
                  })
                "
              ></button>
              <input
                type="number"
                class="form-control range-number"
                min="1"
                disabled
                formControlName="dormitorios"
              />
              <button
                type="button"
                class="btn btn-sm border-left boton-input plus-btn"
                (click)="
                  incrementarInput({
                    dormitorios: 0
                  })
                "
              >
                +
              </button>
            </div>
          </div>
        </div>
        <!-- Input dormitorios de personas -->

        <!-- Input baños de personas -->
        <div class="form-group row justify-content-center mt-5">
          <div class="col-12 col-lg-6">
            <h5 class="h5-size">
              <span class="material-icons bac-c-m mr-2"> bathtub </span>Baños
            </h5>
            <div class="input-group shadow">
              <button
                class="btn btn-sm border-right boton-input minus-btn"
                type="button"
                (click)="
                  reducirInput({
                    banos: 0
                  })
                "
              ></button>
              <input
                type="number"
                class="form-control range-number"
                min="1"
                disabled
                formControlName="banos"
              />
              <button
                type="button"
                class="btn btn-sm border-left boton-input plus-btn"
                (click)="
                  incrementarInput({
                    banos: 0
                  })
                "
              >
                +
              </button>
            </div>
          </div>
        </div>
        <!-- Input Baños de personas -->

        <div class="form-group row justify-content-center mt-5">
          <div
            class="col-12 col-lg-6 d-flex justify-content-end align-items-center"
          >
            <button mat-icon-button matStepperNext type="button">
              <span
                class="material-icons md-24 d-block"
                style="color: #02a69a; font-size: 25px !important"
              >
                keyboard_arrow_right
              </span>
            </button>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-4">
            <p class="p-filtro p-0 mt-2 text-center">
              Características & Servicios
            </p>
            <hr class="mb-5 separacion-filtro-color" />
          </div>
        </div>

        <!-- Slide toggle input -->
        <div class="row justify-content-center">
          <div class="col-12 col-lg-4">
            <div class="form-group row t-fuente-mov">
              <div class="col-6 d-flex">
                <span class="material-icons bac-c-m"> family_restroom </span>
                <mat-checkbox
                  class="example-margin"
                  formControlName="solo_familia"
                  >Solo Famiilia</mat-checkbox
                >
              </div>
              <div class="col-6 d-flex justify-content-end">
                <mat-checkbox
                  class="example-margin"
                  labelPosition="before"
                  formControlName="mascotas"
                  >Mascotas</mat-checkbox
                >
                <span class="material-icons bac-c-m ml-1"> pets </span>
              </div>

              <div class="col-6 d-f-item">
                <span class="material-icons bac-c-m"> waves </span>
                <mat-checkbox class="example-margin" formControlName="piscina"
                  >Piscina</mat-checkbox
                >
              </div>
              <div class="col-6 d-flex justify-content-end">
                <mat-checkbox
                  class="example-margin"
                  labelPosition="before"
                  formControlName="apto_eventos"
                  >Apto eventos</mat-checkbox
                >
                <span class="material-icons bac-c-m ml-1"> cake </span>
              </div>
            </div>
            <!-- Slide toggle input -->

            <div class="form-group row mt-5 t-fuente-mov">
              <div class="col-6 d-f-item">
                <span class="material-icons bac-c-m"> tv </span>
                <mat-checkbox
                  class="example-margin"
                  labelPosition="after"
                  formControlName="tv"
                  >TV/Cable</mat-checkbox
                >
              </div>

              <div class="col-6 d-f-item justify-content-end">
                <mat-checkbox
                  class="example-margin"
                  labelPosition="before"
                  formControlName="internet"
                  >Internet</mat-checkbox
                >
                <span class="material-icons bac-c-m ml-2"> wifi </span>
              </div>
              <div class="col-6 d-flex">
                <span class="material-icons bac-c-m">
                  local_laundry_service
                </span>
                <mat-checkbox
                  class="example-margin"
                  formControlName="lavarropas"
                  >Lavarropas</mat-checkbox
                >
              </div>
              <div class="col-6 d-flex justify-content-end">
                <mat-checkbox
                  class="example-margin"
                  labelPosition="before"
                  formControlName="seguridad"
                  >Seguridad</mat-checkbox
                >
                <span class="material-icons bac-c-m ml-2"> local_police </span>
              </div>
              <div class="col-6 d-flex">
                <span class="material-icons bac-c-m"> ac_unit </span>
                <mat-checkbox
                  class="example-margin"
                  formControlName="aire_acondicionado"
                  >AC</mat-checkbox
                >
              </div>
              <div class="col-6 d-flex justify-content-end">
                <mat-checkbox
                  class="example-margin"
                  labelPosition="before"
                  formControlName="calefaccion"
                  >Calefacción</mat-checkbox
                >
                <span class="material-icons bac-c-m ml-2">
                  local_fire_department
                </span>
              </div>
              <div class="col-6 d-flex">
                <span class="material-icons bac-c-m"> hot_tub </span>
                <mat-checkbox class="example-margin" formControlName="jacuzzi"
                  >Jacuzzi</mat-checkbox
                >
              </div>
              <div class="col-6 d-flex justify-content-end">
                <mat-checkbox
                  class="example-margin"
                  labelPosition="before"
                  formControlName="serv_limpieza"
                  >S. Limpieza</mat-checkbox
                >
                <span class="material-icons bac-c-m ml-2">
                  cleaning_services
                </span>
              </div>
              <div class="col-6 d-flex">
                <span class="material-icons bac-c-m"> texture </span>
                <mat-checkbox class="example-margin" formControlName="ropa_cama"
                  >Ropa de cama</mat-checkbox
                >
              </div>

              <div class="col-6 d-f-item justify-content-end">
                <mat-checkbox
                  class="example-margin"
                  labelPosition="before"
                  formControlName="parilla"
                  >Parilla</mat-checkbox
                >
                <span class="material-icons bac-c-m ml-2"> outdoor_grill </span>
              </div>
            </div>

            <div class="form-group row justify-content-center mt-5">
              <div class="col-6 col-lg-6 d-flex align-items-center">
                <button mat-icon-button matStepperPrevious type="button">
                  <span
                    class="material-icons md-24 d-block"
                    style="color: #02a69a; font-size: 25px !important"
                  >
                    keyboard_arrow_left
                  </span>
                </button>
              </div>
              <div
                class="col-6 col-lg-6 d-flex justify-content-end align-items-center"
              >
                <button mat-icon-button matStepperNext type="button">
                  <span
                    class="material-icons md-24 d-block"
                    style="color: #02a69a; font-size: 25px !important"
                  >
                    keyboard_arrow_right
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6">
            <p class="p-filtro p-0 mt-2 text-center">Localización</p>
            <hr class="mb-5 separacion-filtro-color" />
          </div>
        </div>

        <!-- Input Select Provincia -->
        <div class="form-group row justify-content-center">
          <div class="col-12 col-lg-6">
            <h5
              style="font-size: 16.5px !important"
              class="d-flex align-items-center"
            >
              <span class="material-icons bac-c-m"> map </span>Provincia
            </h5>
            <div class="underline-p">
              <mat-form-field>
                <mat-label class="text-white">Propiedad</mat-label>
                <mat-select formControlName="provincia">
                  <mat-option
                    [value]="provincia"
                    *ngFor="let provincia of provincias"
                    >{{ provincia }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Input Select Provincia -->

        <!-- Input Ciudad -->
        <div class="form-group row justify-content-center">
          <div class="col-12 col-lg-6">
            <h5
              style="font-size: 16.5px !important"
              class="d-flex align-items-center"
            >
              <span class="material-icons bac-c-m"> map </span>Ciudad
              <span
                [matTooltip]="descripcion_ayuda_ciudad"
                matTooltipPosition="right"
                class="ml-2 material-icons"
              >
                help_outline
              </span>
            </h5>

            <div>
              <mat-form-field class="example-full-width">
                <mat-label>Ciudad</mat-label>
                <input
                  matInput
                  formControlName="ciudad"
                  placeholder="Ejemplo: 'Villa Carlos Paz'"
                />
                <mat-error *ngIf="nombreNoValidoPropiedad">
                  Por favor, ingrese el nombre de su <strong>ciudad</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Input Ciudad -->

        <!-- Input Direccion -->
        <div class="form-group row justify-content-center">
          <div class="col-12 col-lg-6">
            <h5
              style="font-size: 16.5px !important"
              class="d-flex align-items-center"
            >
              <span class="material-icons bac-c-m"> map </span>Dirección
              <span
                [matTooltip]="descripcion_ayuda_direccion"
                matTooltipPosition="right"
                class="ml-2 material-icons"
              >
                help_outline
              </span>
            </h5>

            <div>
              <mat-form-field class="example-full-width">
                <mat-label>Dirección</mat-label>
                <input
                  matInput
                  formControlName="direccion"
                  placeholder="Ingrese la dirección exacta de su vivienda"
                />
                <mat-error *ngIf="nombreNoValidoPropiedad">
                  Por favor, ingrese la <strong>dirección</strong> de su
                  vivienda
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Input Direccion -->

        <!-- Input mapa -->
        <div class="form-group row justify-content-center">
          <div class="col-12 col-lg-6 m-0 p-0">
            <div class="row justify-content-center m-0 p-0">
              <div class="col-12 col-md-12 col-lg-12">
                <h5
                  style="font-size: 16.5px !important"
                  class="d-flex align-items-center"
                >
                  <span class="material-icons bac-c-m"> explore </span
                  >Ubicación<span
                    [matTooltip]="descripcion_ayuda_mapa"
                    matTooltipPosition="right"
                    class="ml-2 material-icons"
                  >
                    help_outline
                  </span>
                </h5>
                <p class="text-center">
                  Marque en el mapa la ubicación aproximada de su propiedad
                </p>
                <p
                  class="text-center"
                  style="font-size: 12px; font-weight: 600"
                >
                  Nota: Utilice el buscador del mapa para localizar su propiedad
                  ( preferentemenete, ciudad en la que se encuentra ) .
                </p>
                <app-mapa></app-mapa>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center mt-5">
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-6 col-lg-6 d-flex align-items-center">
                <button mat-icon-button matStepperPrevious type="button">
                  <span
                    class="material-icons md-24 d-block"
                    style="color: #02a69a; font-size: 25px !important"
                  >
                    keyboard_arrow_left
                  </span>
                </button>
              </div>
              <div
                class="col-6 col-lg-6 d-flex justify-content-end align-items-center"
              >
                <button mat-icon-button matStepperNext type="button">
                  <span
                    class="material-icons md-24 d-block"
                    style="color: #02a69a; font-size: 25px !important"
                  >
                    keyboard_arrow_right
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6">
            <p class="p-filtro p-0 mt-2 text-center">
              Tiempo de reservación & Multimedia
            </p>
            <hr class="mb-5 separacion-filtro-color" />
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-12 col-lg-6">
            <p class="text-center">
              Por favor, seleccione el intervalo de tiempo en el que desea que
              su propiedad esté disponible para reservación:
            </p>
          </div>
        </div>

        <!-- En el siguiente div los elementos se crearán dinámicamente a medida que el usuario decide hacer click en un botón. -->
        <div
          class="row justify-content-center"
          formGroupName="fechas_disponibles"
        >
          <div class="col-12 col-lg-6">
            <table class="table table-responsive">
              <thead style="width: 100% !important">
                <tr>
                  <th scope="col">P.</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Opción</th>
                </tr>
              </thead>
              <tbody formArrayName="precios">
                <tr *ngFor="let control of getPrecios(); let i = index">
                  <td>
                    {{ i + 1 }}
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-12 col-lg-12">
                        <app-date-picker-intervalo-disp-propiedad
                          (recogerFechaEvent)="recogerFechas($event, i)"
                          [nuevoMinDate]="guardarFecha"
                        ></app-date-picker-intervalo-disp-propiedad>
                      </div>

                      <div class="col-12 mt-2">
                        <mat-form-field>
                          <mat-label>Precio por día</mat-label>
                          <span matPrefix>$ &nbsp;</span>
                          <input type="number" matInput [formControlName]="i" />
                        </mat-form-field>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="col-12 col-lg-12 d-flex align-items-center">
                      <div class="row justify-content-center">
                        <div
                          class="col-12 d-flex align-items-center justify-content-center mt-3"
                        >
                          <button
                            mat-raised-button
                            type="button"
                            (click)="borrarPeriodo(i)"
                            [disabled]="desactivarBotonBorrado(i)"
                          >
                            <span
                              class="material-icons md-24 d-block"
                              style="color: #02a69a; font-size: 25px !important"
                            >
                              clear
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- En el siguiente div los elementos se crearán dinámicamente a medida que el usuario decide hacer click en un botón. -->
        <div class="form-group row justify-content-center mt-5">
          <div class="col-12 col-lg-6">
            <hr />
            <div class="row justify-content-end">
              <div
                class="col-6 d-flex align-items-center justify-content-start"
              >
                <span class="material-icons bac-c-m"> payment </span>
                <mat-checkbox
                  class="example-margin"
                  formControlName="reserva_veinte_pciento"
                  >Reserva 20%</mat-checkbox
                >
                <span
                  [matTooltip]="descripcion_ayuda_veinte_porciento"
                  matTooltipPosition="right"
                  class="ml-2 material-icons"
                >
                  help_outline
                </span>
              </div>
              <div
                class="col-12 col-lg-6 d-flex align-items-center justify-content-end"
              >
                <button
                  mat-raised-button
                  class="d-flex align-items-center"
                  type="button"
                  (click)="agregarPeriodo()"
                  [disabled]="desactivarBotonAgregarPeriodo"
                >
                  <span
                    class="material-icons md-24"
                    style="color: #02a69a; font-size: 25px !important"
                  >
                    add
                  </span>
                  Agregar período
                </button>
                <span
                  [matTooltip]="descripcion_ayuda_periodo"
                  matTooltipPosition="right"
                  class="ml-2 material-icons"
                >
                  help_outline
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Input Metros cuadrados -->
        <div class="form-group row justify-content-center mt-5">
          <div class="col-12 col-lg-6">
            <p class="text-center">
              Seleccione las imágenes de su propiedad y colóquelas en el
              siguiente recuadro
            </p>
            <p class="text-center" style="font-size: 12px; font-weight: 600">
              Nota: La primera imagen cargada, será la imagen principal de su
              vivienda.
            </p>
            <div
              class="custom-dropzone"
              ngx-dropzone
              [accept]="'image/*'"
              [expandable]="true"
              (change)="onSelect($event)"
            >
              <ngx-dropzone-label>
                <div>
                  <h5>Coloque sus imágenes aquí</h5>
                </div>
              </ngx-dropzone-label>

              <ngx-dropzone-image-preview
                ngProjectAs="ngx-dropzone-preview"
                *ngFor="let f of files"
                [file]="f"
                [removable]="true"
                (removed)="onRemove(f)"
              >
              </ngx-dropzone-image-preview>
            </div>
          </div>
        </div>
        <div class="form-group row justify-content-center mt-5">
          <div class="col-12 col-lg-6">
            <div class="row">
              <div class="col-6 col-lg-6 d-flex align-items-center">
                <button mat-icon-button matStepperPrevious type="button">
                  <span
                    class="material-icons md-24 d-block"
                    style="color: #02a69a; font-size: 25px !important"
                  >
                    keyboard_arrow_left
                  </span>
                </button>
              </div>
              <div
                class="col-6 col-lg-6 d-flex justify-content-end align-items-center"
              >
                <div class="form-group row">
                  <div class="col-12 col-lg-4">
                    <button
                      mat-raised-button
                      type="submit"
                      [disabled]="boton_publicar_bandera"
                    >
                      Publicar
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12" *ngIf="mensaje_error_campos">
                <p class="text-danger text-center">
                  No se han completado todos los campos del formulario.
                </p>
              </div>
              <div class="col-12" *ngIf="loading_cargar_propiedad">
                <p style="color: #02a69a" class="text-center">
                  La propiedad se está publicando
                  <span class="lds-ellipsis"
                    ><div></div>
                    <div></div>
                    <div></div>
                    <div></div
                  ></span>
                </p>
                <p
                  style="color: #02a69a; font-size: 14px"
                  class="text-center m-0 p-0"
                >
                  Está operación puede tardar un par de minutos.
                </p>
              </div>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

    <!-- <hr class="mt-5 separacion-filtro-color" /> -->

    <!-- <hr class="mt-5 separacion-filtro-color" /> -->
  </div>
</form>

<!-- <hr />
<pre>
  Estado del formulario {{ prop_data.valid }}
  <br>
  Status: {{prop_data.status}}
</pre>

<pre>
  {{ prop_data.value | json }}
</pre> -->
