:host ::ng-deep.mat-select {
  color: white !important;
}

::placeholder {
  color: #ccd1d9;
}

.not-empty-select.mat-selected {
  color: black !important;
}

:host /deep/ .mat-select-value-text {
  color: black !important;
}

/* Select input  */
:host ::ng-deep .mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
  color: rgba(0, 0, 0, 0.42);
}
:host ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #02a69a !important;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}

:host ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #02a69a !important;
}

:host ::ng-deep.underline-p .mat-form-field .mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(0, 0, 0, 0.42) !important;
}

:host ::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #02a69a !important;
}

:host ::ng-deep.mat-option::selection {
  color: #02a69a;
}
:host ::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #02a69a !important;
}

:host ::ng-deep.mat-option.mat-active {
  color: #02a69a !important;
}

/* CSS para los checkbox */
:host
  ::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #49c5b6 !important;
}

:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #49c5b6;
}
/* CSS para los checkbox */

/* Estas características modifican el color de los slide toggle  */

:host
  ::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-bar {
  background-color: #49c5b6;
}

:host
  ::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb {
  background-color: #49c5b6;
}

/* Estas características modifican el color de los slide toggle  */

.separacion-filtro-color {
  background-color: #49c5b6;
}

/* PARRAFO FILTRO */
.p-filtro {
  font-size: 21px;
  font-weight: 300;
  color: #49c5b6;
}
/* PARRAFO FILTRO */

/* Tamaño de los h5 indicando filtro */
.h5-size {
  font-size: 16.5px !important;
  margin-bottom: 1.3rem !important;
  display: flex;
  align-items: center;
}

:host ::ng-deep.bac-c-m {
  color: #02a69a;
  margin-right: 0.5rem !important;
}

/* Con la presente clase centro los elementos del tipo switch de los filtros */
:host ::ng-deep.t-fuente-mov .d-f-item {
  display: flex !important;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

:host ::ng-deep label.mat-checkbox-layout {
  margin: 0px !important;
}

@media (min-width: 481px) and (max-width: 767px) {
  :host ::ng-deep.t-fuente-mov {
    font-size: 12px !important;
    font-weight: 500 !important;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  :host ::ng-deep.t-fuente-mov {
    font-size: 12px !important;
    font-weight: 500 !important;
  }
}

/* Input range numérico */
::ng-deep.range-number {
  font-size: 18px;
  font-weight: 400 !important;
  height: 4rem;
  padding: 0 4rem;
  border-radius: 2rem;
  border: 0;
  background: #fff;
  color: #222;
  box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-weight: lighter;
}

.input-group {
  border-radius: 2rem;
}

::ng-deep.range-number:focus {
  outline: none;
  box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff; /* Allows border radius on focus */
}

.boton-input {
  color: black;
  position: relative;
  /* width: 2.8rem; */
  width: 2rem;
  height: 2rem;
  top: 0.6rem;
  /* display: block; */
  padding: 0;
  border: 0;
  border-color: #02a69a !important;

  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  border-radius: 1.4rem;
  cursor: pointer;
  transition: opacity 0.15s;
  opacity: 0.5;
}

.plus-btn {
  background: url("/assets/mas_verde.svg") no-repeat 0 0;
  background-size: 20px 40px;
  background-position: center;
  /* background-color: #02A69A; */
  margin-right: 5px;
}

.minus-btn {
  background: url("/assets/menos_verde.svg") no-repeat 0 0;
  background-size: 20px 40px;
  background-position: center;
  /* background-color: #02A69A; */
  margin-left: 5px;
}

button:active {
  /* background-position-y: 1px; */
  box-shadow: inset 0 2px 12px -4px #c5d1d9 !important;
}
/* Input range numérico */
:host ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(0, 0, 0, 0.42) !important;
}

/* Propiedades imput ubicación */
:host ::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #02a69a !important;
}

/* Stepper */
::ng-deep .mat-horizontal-stepper-header-container {
  width: 100% !important;
}

::ng-deep mat-stepper-horizontal,
mat-stepper-horizontal {
  border: dashed 1px blue;
  padding: 1em;
  width: 100% !important;
}

::ng-deep.mat-horizontal-content-container {
  padding: 0px !important;
}

::ng-deep.mat-step-header .mat-step-icon-selected {
  background-color: #02a69a !important;
}

::ng-deep.mat-step-header .mat-step-icon-state-done {
  background-color: #02a69a !important;
}

::ng-deep.mat-horizontal-stepper-header .mat-step-icon {
  font-size: 12px !important;
}

::ng-deep.mat-step-header .mat-step-icon-state-edit {
  background-color: #02a69a !important;
}
/* Stepper */

:host ::ng-deep.mat-icon-button {
  border: 1px solid #02a69a;
  outline: none !important;
}

::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #02a69a !important;
}

::ng-deep.custom-dropzone {
  border-color: #02a69a !important;
}

::ng-deep.custom-dropzone ngx-dropzone-image-preview {
  border-color: #02a69a !important;
}
::ng-deep.custom-dropzone ngx-dropzone-image-preview img {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1) !important;
  height: 160px !important;
  width: 160px !important;
  border-radius: 5px !important;
  opacity: 1 !important;
  outline: none !important;
}
::ng-deep.custom-dropzone ngx-dropzone-image-preview:focus img {
  border: 1px sold white !important;
}

::ng-deep.mat-datepicker {
  width: 280px !important;
  height: 285px !important;
  display: block !important;
}

::ng-deep.btn-mobi-r {
  padding: 0.125rem 0.35rem !important;
  /* display: flex !important; */
}

::ng-deep .mat-tooltip {
  font-size: 12px !important;
  font-weight: 500 !important;
  text-align: center !important;
}

/* Loading */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  top: 10px;
  width: 20px;
  height: 20px;
}
.lds-ellipsis div {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #02a69a;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
