<div class="row property-details-list">
  <div class="col-md-4 col-sm-6">
    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        done
      </span>
      Aire Acondicionado
    </p>
    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        done
      </span>
      Teléfono
    </p>
    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        done
      </span>
      Lavandería
    </p>
  </div>
  <div class="col-md-4 col-sm-6">
    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        done
      </span>
      Calefacción
    </p>
    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        done
      </span>
      Televisión
    </p>
    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        done
      </span>
      Metro Central
    </p>
  </div>
  <div class="col-md-4">
    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        done
      </span>
      City views
    </p>
    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        done
      </span>
      Internet
    </p>
    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        done
      </span>
      Electric Range
    </p>
  </div>
</div>
