<h2 mat-dialog-title>Términos y Condiciones</h2>
<hr />
<mat-dialog-content class="mat-typography">
  <p>
    El presente Contrato describe los términos y condiciones generales
    aplicables al uso de los servicios ofrecidos por TodoQuintas.com
    (Denominación social – CUIT: ) en nuestro sitio web www.todoquintas.com y al
    uso de la plataforma de pago www.mercadopago.com.
  </p>

  <p>
    TodoQuintas.com, es una plataforma de encuentro, que permite que los
    usuarios registrados (“Propietario/s”) ofrezcan alojamiento en Quintas,
    Cabañas, Casas Country, Estancias, Casas de Campo y Chalets, siendo esta una
    enumeración de manera taxativa y permitiendo que TodoQuintas.com, elimine y
    sancione a aquellos Propietarios que publiquen otro tipo de propiedad.
    Asimismo, los usuarios “Huéspedes” podrán acceder a los servicios ofrecidos
    por los Propietarios “Anfitriones” realizando la reservación a través de la
    plataforma de TodoQuintas.com.
  </p>
  <h3>1.- Uso del Sitio</h3>
  <p>
    Aquellas personas (en adelante los “Usuarios” en términos generales o
    “Huésped/es” y “Anfitrión/es”) que deseen acceder y/o usar el sitio o los
    Servicios deberá hacerlo sujetándose a los presentes Términos y Condiciones
    Generales respectivos.
  </p>

  <p>
    Aquellos usuarios que NO acepten estos términos y condiciones generales, los
    cuales poseen un carácter obligatorio y vinculante, deberán abstenerse de
    utilizar el sitio y/o los servicios ofrecidos por TodoQuintas.com.
  </p>

  <p>
    Los usuarios deberán leer, entender y aceptar todos los términos y
    condiciones generales aquí establecidos, como también las Políticas de
    Privacidad y las Políticas de Mercado Pago, antes de su registración como
    Anfitriones y/o Huéspedes de TodoQuintas.com, optando de forma expresa por
    recibir los mismos y toda información por medios digitales.
  </p>

  <h3>2.- Capacidad de los Usuarios</h3>

  <p>
    Para acceder y utilizar la plataforma de TodoQuintas.com, deberán gozar de
    capacidad legal para contratar. Queda expresamente prohibida la utilización
    de nuestros servicios por personas menores de edad o personas que hayan sido
    suspendidas de manera temporal o permanente por TodoQuintas.com. Las
    Empresas que se registren para la utilización de nuestros servicios, deberán
    gozar de capacidad para contratar y cumplir con la legislación del país.
  </p>

  <h3>3.- Registración de los Usuarios</h3>

  <p>
    Para la utilización de nuestra plataforma los Usuarios (“Anfitriones” y
    “Huéspedes”) deberán registrarse y para ello deberán completar un formulario
    con información personal que deberá ser exacta, precisa y veraz. Los
    usuarios están obligados a actualizar los datos cada vez que realicen algún
    cambio.
  </p>

  <p>
    Los usuarios podrán registrarse en TodoQuintas.com con una dirección de
    correo electrónico y creando una contraseña, o a través de su cuenta con
    ciertos servicios de redes sociales terceros, como Facebook o Google
  </p>

  <p>
    La verificación de los usuarios en internet es compleja, es por ello que
    TodoQuintas.com NO es responsable por la veracidad y certeza de los datos
    personales de los usuarios, ni por la confirmación de identidad de ninguno
    de ellos.
  </p>

  <p>
    Los usuarios son responsables por los datos declarados y garantizan la
    veracidad, autenticidad y vigencia de los mismos.
  </p>

  <p>
    Los usuarios deberán ingresar con una clave de seguridad personal elegida,
    donde se obligan a mantenerla de manera confidencial.
  </p>

  <p>
    La cuenta de los usuarios es personal e intransferible, y queda totalmente
    prohibido que el usuario posea más de una cuenta. En caso que haya dos o más
    cuentas referidas a un mismo usuario TodoQuintas.com podrá eliminar o
    suspender una de ellas.
  </p>

  <p>
    El usuario será responsable por todas las operaciones efectuadas en su
    cuenta.
  </p>

  <p>
    En caso que el usuario detecte un uso no autorizado en su cuenta, deberá dar
    aviso de inmediato y por medio fehaciente a TodoQuintas.com.
  </p>

  <p>
    Queda totalmente prohibida la venta, cesión o transferencia de las cuentas
    personales.
  </p>

  <p>
    TodoQuintas.com se reserva el derecho de rechazar cualquier solicitud de
    regurgitación o de cancelar una registración ya aceptada sin la obligación
    de comunicar las razones de la decisión y sin que esto genere derecho a
    indemnización o resarcimiento.
  </p>

  <h3>4.- Uso de la Plataforma Mercado Pago a través de tarjeta de Crédito</h3>

  <p>
    Los usuarios (“Anfitriones” y “Huéspedes”) consienten expresamente la
    utilización de la plataforma de Mercado Pago, para realizar el pago de las
    reservas de los alojamientos. Asimismo, los usuarios declaran que han leído,
    comprendido y aceptado los Términos y Condiciones de la utilización de dicho
    servicio. Los Anfitriones y Huéspedes podrán realizar las operaciones
    utilizando únicamente Tarjeta de Crédito.
  </p>

  <h3>5.- Publicación de las Propiedades</h3>

  <p>
    Los Anfitriones deberán incluir en sus publicaciones textos descriptivos,
    gráficos, fotografías, el monto en pesos argentinos y por día de las
    propiedades. A su vez, deberán detallar en caso que varíe el precio del
    mismo en distintas temporadas y debiendo mantener de manera actualizada
    dicha publicación.
  </p>

  <p>
    El precio establecido por día de la propiedad publicada NO podrá ser
    modificado al Huésped.
  </p>

  <p>
    Asimismo, el precio de las propiedades publicadas, deberá ser expresado con
    IVA incluido.
  </p>

  <p>
    Se deja expresamente establecido que ninguna publicación podrá contener
    datos personas o de contacto, tales como, y sin limitarse a, números
    telefónicos, dirección de e-mail, dirección postal, direcciones de páginas
    de Internet que contengan datos como estos.
  </p>

  <p>
    Los datos personales del Anfitrión aparecerán una vez que el Huésped haya
    realizado la reserva.
  </p>

  <p>Los Anfitriones solo podrán publicar una propiedad por Anuncio.</p>

  <h3>
    6.- Licencia sobre fotografías, marcas, imágenes e información de las
    propiedades
  </h3>

  <p>
    Para promocionar la Plataforma de TodoQuintas.com y aumentar la exposición
    de las publicaciones a Huéspedes potenciales, las publicaciones y demás
    contenido de los anfitriones, podrá ser exhibido en otros sitios web, en
    aplicaciones, correos electrónicos y en publicidad en línea y no en línea.
  </p>

  <p>
    Los usuarios le otorgan a TodoQuintas.com una autorización gratuita,
    irrevocable, no exclusiva y sin límite temporal para usar, publicar,
    reproducir y/o adaptar imágenes, fotográficas, videos, Marcas e información
    de las propiedades con el fin de ser utilizadas en todos los sitios y
    aplicaciones de TodoQuintas.com, redes sociales y/o cualquier otro medio
    masivo y no masivo de comunicación, incluyendo sin limitación, plataformas y
    cualquier otro medio digital o físico de TodoQuintas.com, para identificar
    ofertas, clasificar productos, crear catálogos, realizar acciones
    publicitarias de marketing con marcas y/o nombres comerciales de terceros.
  </p>

  <p>
    El Usuario declara y garantiza que es titular o licenciatario de los
    derechos necesarios sobre las imágenes, fotografías y videos contenidos en
    sus publicaciones, sobre las Marcas y sobre la información de las
    propiedades publicadas, siendo responsable exclusivo por cualquier
    infracción a derechos de terceros o por las inconsistencias o inexactitud en
    la información de las publicaciones.
  </p>

  <p>
    TodoQuintas.com podrá eliminar la publicación de las imágenes, fotografías,
    videos e inclusivo eliminar la publicación de la propiedad, si considera, a
    su criterio, que las imágenes no cumplen con los presentes Términos y
    Condiciones Generales.
  </p>

  <p>
    Los usuarios no utilizarán, copiarán, adaptarán, modificarán, prepararán
    obras derivadas, distribuirán, licenciarán, venderán, transferirán,
    exhibirán públicamente, interpretarán públicamente, transmitirán, difundirán
    ni explotarán de cualquier otro modo la Plataforma de TodoQuintas.com ni el
    Contenido Colectivo, excepto en la medida en que sea usted el propietario
    legal de cierto contenido o conforme a lo expresamente permitido en los
    presentes Términos.
  </p>

  <h3>7.- Publicaciones Prohibidas</h3>
  <p>
    Queda expresamente prohibido la publicación, difusión, transmisión de
    contenido que sea fraudulento, falso, engañoso, falaz, difamatorio,
    injurioso, obsceno, pornográfico, vulgar, ofensivo, que fomente la
    discriminación, la intolerancia, el racismo, el odio, el acoso, el daño, sea
    violento o amenazador o fomente violencia, actividades ilícitas o dañinas
    contra cualquier persona o animal, incumpla con los presentes términos y
    condiciones.
  </p>

  <h3>8.- Funcionamiento de la Plataforma</h3>

  <p>
    Debido a la naturaleza de Internet, TodoQuintas.com no puede garantizar la
    disponibilidad, accesibilidad y funcionamiento de forma continua e
    ininterrumpida de la Plataforma. Asimismo, TodoQuintas.com podrá restringir
    la disponibilidad de la Plataforma en razón de límites de capacidad,
    seguridad o integridad de nuestros servidores, o para realizar medidas de
    mantenimiento que aseguren el correcto funcionamiento o mejorado de la
    Plataforma.
  </p>

  <h3>9.- Tarifas del Servicio</h3>

  <p>
    Publicar en nuestro sitio es gratuito. En caso de concretar una reserva, el
    costo será de un cinco por ciento más IVA (5%) del monto total de la
    estadía, que será debitado de la transacción al Anfitrión. Asimismo, el
    huésped pagará un tres por ciento más IVA (3%) adicional, del valor total de
    la reserva.
  </p>

  <p>
    El Anfitrión podrá elegir en su publicación la modalidad de cobro para los
    huéspedes. Podrá optar por la modalidad de reserva total, en donde el
    Huésped pagará un cien por ciento (100%) con tarjeta de crédito a través de
    la plataforma de Mercado Pago o podrá optar por la reserva parcial del
    veinte por ciento (20 %) de pago con tarjeta de crédito y el ochenta por
    ciento (80 %) en efectivo al momento de que el huésped llegue a la propiedad
    del Anfitrión.
  </p>

  <p>
    El dinero de la reserva estará disponible a partir del primer día en que el
    huésped se encuentre en la propiedad.
  </p>

  <h3>10.- Cancelaciones – Seña NO reembolsable</h3>

  <p>
    El veinte por ciento (20 %) sobre el pago de la reserva del Huésped, quedará
    en concepto de seña ante una cancelación.
  </p>

  <p>
    La cancelación será gratuita dentro de los 10 días desde que se realizó la
    reserva.
  </p>

  <p>
    Pasadas los 10 días, ante la cancelación del huésped, no se reintegrará el
    pago de la seña (20 %).
  </p>

  <p>
    En caso que el huésped quiera modificar los días de reserva, deberá ponerse
    en contacto con el anfitrión.
  </p>

  <h3>11.- Publicaciones, responsabilidad de los Anfitriones y Huéspedes</h3>

  <p>
    Al publicar una propiedad, el Anfitrión deberá: proporcionar información
    completa y exacta de su publicación y exponer requisitos específicos si los
    hubiera (por ejemplo: edad mínima, aceptación o no de mascotas, entre
    otras). El Anfitrión es responsable de mantener la información y la
    disponibilidad de la propiedad actualizada en todo momento en que la
    publicación este activa.
  </p>

  <p>
    Al realizar la publicación, el Anfitrión deberá consignar el precio de la
    propiedad y una vez realizada una reservación, no podrá exigir que el
    Huésped pague un precio más elevado que el publicado.
  </p>

  <p>
    Las imágenes o videos que el Anfitrión publique en su anuncio deben reflejar
    con exactitud la calidad de la propiedad y servicios. TodoQuintas.com se
    reserva el derecho de exigir que los Anuncios tengan un número mínimo de
    Imágenes de un determinado formato, tamaño y resolución.
  </p>

  <p>
    Cuando el Anfitrión acepta una reserva del huésped, estarán suscribiendo un
    contrato legalmente vinculante entre ellos, lo cual el Anfitrión se verá
    obligado a prestar los servicios según lo descrito en su publicación y el
    Huésped acepta pagar las Tarifas Totales por las reservaciones solicitadas.
    Asimismo, el Huésped quedará sujeto a cualquiera de los términos y
    condiciones adicionales del Anfitrión.
  </p>

  <h3>12.- Seguro</h3>

  <p>
    TodoQuintas.com recomienda que los Anfitriones contraten un seguro adecuado
    para cubrir las acciones de destrucción, roturas, extravíos de objetos que
    se encuentren en la propiedad.
  </p>

  <p>
    Asimismo, TodoQuintas.com les proporciona a los Anfitriones para estos
    casos, los datos personales del huésped como también de su tarjeta de
    crédito de los huéspedes. El anfitrión deberá enviar fotos o pruebas para
    demostrar los hechos ocurridos.
  </p>

  <p>
    TodoQuintas.com, no es responsable, ni responde por los daños que puedan
    producirse en la propiedad del Anfitrión.
  </p>

  <h3>13.- Propiedades Publicadas</h3>
  <p>
    Los Anfitriones declaran y garantizan que todas las publicaciones efectuadas
    de una propiedad no incumplirán ningún contrato que haya suscrito con un
    tercero, tales como, reglamento de copropiedad, condominios u otros acuerdos
    y cumplirá con todas las leyes aplicables como las de urbanismo, requisitos
    fiscales y demás reglas y normativas, permisos, licencias, registros.
  </p>

  <p>
    Los Anfitriones son responsables de sus propios actos y omisiones, como
    también de los actos y omisiones de cualquier persona que resida o esté
    presente en la propiedad a petición o por invitación suya, excluidos el
    huésped y las personas que el huésped invite a la propiedad.
  </p>

  <h3>14.- Pago de Reservas</h3>
  <p>
    Los Huéspedes aceptan pagar las tarifas totales o parciales, según lo
    disponga el anfitrión, que se le presentan al momento de efectuar la
    reservación con su cuenta de TodoQuintas.com a través de la plataforma de
    Mercado Pago, únicamente con Tarjeta de Crédito.
  </p>

  <p>
    Una vez que el Huésped realiza el pago de la reserva, se forma un contrato
    legalmente vinculante entre este y el Anfitrión.
  </p>

  <p>
    Si el Huésped realiza una reservación en nombre de huéspedes adicionales,
    estará obligado a asegurarse de que cada uno de ellos cumpla con los
    requisitos establecidos por el Anfitrión y que conoce y acepta los presentes
    términos y condiciones generales de TodoQuintas.com. Si la reserva es para
    un huésped adicional menor de edad, usted declara y garantiza estar
    legalmente autorizado para actuar en nombre del menor.
  </p>

  <h3>16.- Reserva de Propiedades</h3>

  <p>
    Cuando el Anfitrión confirme una reserva realizada por el Huésped y este
    pague la reservación, este último, gozara de una autorización limitada que
    el Anfitrión le concede para poder ocupar y utilizar la propiedad por el
    periodo de su estadía.
  </p>

  <p>
    El Huésped acepta abandonar la Propiedad en el horario convenido de salida
    que el Anfitrión especifique en su publicación o en el horario que el
    Anfitrión y el Huésped hayan acordado. TodoQuintas.com no es responsable si
    el Huésped se excede en el plazo de la estadía. Las partes gozan de total
    autonomía para acordar, si así lo consideran, las tarifas por excedencia y
    condiciones para estos casos.
  </p>

  <h3>17.- Modificación de Reservas</h3>

  <p>
    Los Anfitriones y Huéspedes son responsables de cuantas modificaciones
    realicen a una reservación a través de la Plataforma de TodoQuintas.com y
    aceptan pagar cuantas tarifas por publicación, tarifas de anfitrión o de
    huésped adiciones e impuestos se asocien a dichas modificaciones de
    reservaciones.
  </p>

  <h3>18.- Evaluaciones y Comentarios</h3>

  <p>
    Una vez finalizada la estadía, los Huéspedes deberán evaluar dicha estadía
    con un número de estrellas, siendo una (1) estrella como estadía muy
    insatisfecha y cinco (5) estrellas muy satisfecha. Asimismo, los Huéspedes
    podrán realizar comentarios de su experiencia.
  </p>

  <p>
    Los Anfitriones, también deberán evaluar de la misma manera a los Huéspedes.
  </p>

  <p>
    Los comentarios que ambos realicen no podrán contener lenguaje ofensivo, ni
    injurioso, ni discriminatorio.
  </p>
  <p>
    Las evaluaciones que reciban se verán reflejadas en el perfil de cada
    Anfitrión y Huésped y este influirá en la reputación.
  </p>

  <h3>19.- Impuestos</h3>

  <p>
    El Anfitrión es el exclusivo responsable de determinar sus obligaciones de
    declarar, cobrar, remitir o incluir en sus Tarifas por Anuncio el IVA y
    demás impuestos indirectos.
  </p>
  <p>
    La normativa fiscal podrá requerir que recopilemos la debida información
    fiscal de nuestros Anfitriones, o que retengamos Impuestos de los pagos a
    nuestros Anfitriones, o ambas cosas.
  </p>

  <h3>20.- Actividades prohibidas</h3>

  <p>
    Todos los usuarios son exclusivamente responsables del cumplimiento de todas
    y cada una de las leyes, normas, reglamentos y obligaciones fiscales que
    puedan ser de aplicación a su utilización de la Plataforma de
    TodoQuintas.com. Los usuarios no procederán a realizar las siguientes
    acciones ni ayudará o permitirá que otros procedan a ello:
  </p>

  <ul>
    <li>
      incumplir o eludir cuantas leyes o normativas, contratos con terceros,
      derechos de terceros o nuestros Términos y Condiciones Generales
    </li>
    <li>
      utilizar la Plataforma de TodoQuintas.com o el Contenido Colectivo para
      cualquier fin comercial o de otro tipo que no esté expresamente
      contemplado en los presentes Términos o de una manera que implique
      falsamente el aval o la cooperación de TodoQuintas.com
    </li>
    <li>
      copiar, almacenar o de algún otro modo acceder o utilizar cualquier
      información, incluida información de carácter personal sobre cualquier
      otro usuario, contenida en la Plataforma de TodoQuintas.com
    </li>
    <li>
      utilizar la Plataforma de TodoQuintas.com en relación con la distribución
      de mensajes comerciales no deseados;
    </li>
    <li>
      ofrecer, en calidad de Anfitrión, cualquier Alojamiento del que usted no
      sea propietario o sobre el que no tenga permiso para ponerlo a
      disposición;
    </li>
    <li>
      utilizar la Plataforma de TodoQuintas.com para solicitar, realizar o
      aceptar una reservación ajena a la Plataforma, para eludir cualquiera de
      las Tarifas de Servicios o por cualquier otro motivo;
    </li>
    <li>
      solicitar, aceptar o realizar cualquier pago de Tarifas por Reserva al
      margen de la Plataforma de TodoQuintas.com;
    </li>
    <li>
      discriminar o acosar a personas por razón de raza, origen nacional,
      religión, sexo, identidad de género, discapacidad física o mental,
      situación médica, estado civil, edad u orientación sexual, o bien adoptar
      de algún otro modo un comportamiento violento, dañino, abusivo o
      perturbador;
    </li>
    <li>
      utilizar, mostrar la Plataforma de TodoQuintas.com o su contenido, logo,
      diseño, o cualquier información sin el consentimiento expreso por escrito
      de TodoQuintas.com;
    </li>
    <li>
      evitar, obviar, retirar, desactivar, impedir, descodificar o intentar de
      cualquier otro modo eludir una medida tecnológica puesta en práctica por
      TodoQuintas.com
    </li>
    <li>
      tratar de descifrar, descompilar o desensamblar software utilizado para
      ofrecer la Plataforma;
    </li>
    <li>
      adoptar cualquier acción que perjudique el funcionamiento correcto de la
      Plataforma;
    </li>
  </ul>

  <h3>21.- Modificaciones de los Términos y Condiciones Generales</h3>

  <p>
    TodoQuintas.com podrá modificar los Términos y Condiciones Generales en
    cualquier momento haciendo públicos en el Sitio las modificaciones. Todos
    los términos modificados entrarán en vigor a los 10 (diez) días de su
    publicación. Dichas modificaciones serán comunicadas por TodoQuintas.com a
    los usuarios por correo electrónico. Todo usuario que no esté de acuerdo con
    las modificaciones realizadas, podrá solicitar la baja de la cuenta.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="c_color">Cerrar</button>
</mat-dialog-actions>
