<!-- Page -->
<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 single-list-page">
        <!-- Carousel Principal -->

        <app-p-carousell-main></app-p-carousell-main>

        <!-- Carousel Principal -->

        <div class="single-list-content">
          <div class="row">
            <div class="col-xl-8 sl-title">
              <h2>Estancias del Pilar</h2>
              <p><i class="fa fa-map-marker"></i>Pilar, Buenos Aires.</p>
            </div>
            <div class="col-xl-4">
              <a href="#" class="btn price-btn">$5.500 p/día</a>
            </div>
          </div>
          <h3 class="sl-sp-title">Detalles de la Propiedad</h3>

          <!-- Detalles de la propiedad  -->

          <app-propiedad-detalles-list></app-propiedad-detalles-list>

          <!-- Detalles de la propiedad  -->

          <!-- Carousel Características de las propiedades -->

          <app-carousel-propiedad-detalles-list></app-carousel-propiedad-detalles-list>

          <!-- Carousel Características de las propiedades -->

          <h3 class="sl-sp-title">Descripción</h3>
          <div class="description">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
              egestas fermentum ornareste. Donec index lorem. Vestibulum aliquet
              odio, eget tempor libero. Cras congue cursus tincidunt. Nullam
              venenatis dui id orci egestas tincidunt id elit. Nullam ut
              vuputate justo. Integer lacnia pharetra pretium. Casan ante ipsum
              primis in faucibus orci luctus et ultrice.
            </p>
          </div>
          <h3 class="sl-sp-title">Servicios</h3>
          <div class="row property-details-list">
            <div class="col-md-4 col-sm-6">
              <p><i class="fa fa-check"></i> Aire acondicionado</p>
              <p><i class="fa fa-check"></i> Teléfono</p>
              <p><i class="fa fa-check"></i> Lavandería</p>
            </div>
            <div class="col-md-4 col-sm-6">
              <p><i class="fa fa-check"></i> Calefacción</p>
              <p><i class="fa fa-check"></i> Televisión</p>
              <p><i class="fa fa-check"></i> Metro Central</p>
            </div>
            <div class="col-md-4">
              <p><i class="fa fa-check"></i> City views</p>
              <p><i class="fa fa-check"></i> Internet</p>
              <p><i class="fa fa-check"></i> Electric Range</p>
            </div>
          </div>

          <!-- Carousel servicios de las propiedades -->

          <div class="owl-carousel seccion-servicios text-center">
            <div class="item">
              <i class="fa fa-check"></i>
              <p>Aire acondicionado</p>
            </div>
            <div class="item">
              <i class="fa fa-check"></i>
              <p>Teléfono</p>
            </div>
            <div class="item">
              <i class="fa fa-check"></i>
              <p>Lavandería</p>
            </div>
            <div class="item">
              <i class="fa fa-check"></i>
              <p>Calefacción</p>
            </div>
            <div class="item">
              <i class="fa fa-check"></i>
              <p>Televisión</p>
            </div>
            <div class="item">
              <i class="fa fa-check"></i>
              <p>Internet</p>
            </div>
            <div class="item">
              <i class="fa fa-check"></i>
              <p>Electricidad</p>
            </div>
          </div>

          <!-- Carousel Características de las propiedades -->

          <h3 class="sl-sp-title bd-no">Ubicación</h3>
          <p class="lead">Pilar, Buenos Aires.</p>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d18601.1953602737!2d-58.89111355905852!3d-34.49634690080459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1594829856423!5m2!1ses-419!2sar"
            width="100%"
            height="450"
            frameborder="0"
            style="border: 0;"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
      </div>

      <!-- sidebar -->

      <div class="col-lg-4 col-md-7 sidebar">
        <div class="author-card shadow-sm rounded">
          <div
            class="author-img set-bg"
            data-setbg="assets/images/des/linkedin.jpg"
          ></div>
          <div class="author-info">
            <h5>Julián D.</h5>
            <p>Propietario</p>
          </div>
        </div>
        <app-reservation-dialog></app-reservation-dialog>
      </div>
    </div>

    <!-- Más propiedades | Propiedades relacionadas -->
    <div class="related-properties">
      <h2>Más propiedades</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <!-- feature -->
          <div class="feature-item">
            <div class="rp-item shadow-sm">
              <div class="rp-pic set-bg" data-setbg="img/feature/1.jpg">
                <div class="sale-notic">Nueva!</div>
              </div>
              <div class="rp-info shadow-sm">
                <h5>1963 S Crescent Heights Blvd</h5>
                <p><i class="fa fa-map-marker"></i>Los Angeles, CA 90034</p>
              </div>
              <a href="#" class="rp-price">$1,200,000</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- feature -->
          <div class="feature-item">
            <div class="rp-item shadow-sm">
              <div class="rp-pic set-bg" data-setbg="img/feature/1.jpg">
                <div class="sale-notic">Nueva!</div>
              </div>
              <div class="rp-info shadow-sm">
                <h5>1963 S Crescent Heights Blvd</h5>
                <p><i class="fa fa-map-marker"></i>Los Angeles, CA 90034</p>
              </div>
              <a href="#" class="rp-price">$1,200,000</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- feature -->
          <div class="feature-item">
            <div class="rp-item shadow-sm">
              <div class="rp-pic set-bg" data-setbg="img/feature/1.jpg">
                <div class="sale-notic">Nueva!</div>
              </div>
              <div class="rp-info shadow-sm">
                <h5>1963 S Crescent Heights Blvd</h5>
                <p><i class="fa fa-map-marker"></i>Los Angeles, CA 90034</p>
              </div>
              <a href="#" class="rp-price">$1,200,000</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Más propiedades | Propiedades relacionadas -->
  </div>
</section>
<!-- Page end -->
