<div class="row property-details-list">
  <div class="col-md-4 col-sm-6">
    <p class="d-flex"><span class="material-icons"> house </span>Quinta</p>
    <p class="d-flex align-items-center"><span class="material-icons bac-c-m mr-2">
      tab_unselected
      </span> 200m <sup>2</sup></p>
    <p><i class="fa fa-th-large"></i> 200 m<sup>2</sup> Cubiertos</p>
  </div>
  <div class="col-md-4 col-sm-6">
    <p><i class="fa fa-user"></i> 6 personas</p>
    <p><i class="fa fa-car"></i> 2 Autos</p>
    <p><i class="fa fa-bed"></i> 4 Camas</p>
  </div>
  <div class="col-md-4">
    <p><i class="fa fa-bath"></i> 2 Baños</p>
    <p><i class="fa fa-bath"></i> Piscina</p>
    <p><i class="fa fa-bath"></i> Parilla</p>
  </div>
</div>
