<div class="row property-details-list">
  <div class="col-md-4 col-sm-6">
    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        house
      </span>
      Quinta
    </p>

    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        tab
      </span>
      200m <sup>2</sup>
    </p>

    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        tab_unselected
      </span>
      150m <sup>2</sup>
    </p>
  </div>

  <div class="col-md-4 col-sm-6">
    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        person_add
      </span>
      10 personas
    </p>
    <!-- <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2"> directions_car </span>2 Autos
    </p> -->
    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2"> waves </span>piscina
    </p>
  </div>
  <div class="col-md-4">
    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2"> king_bed </span>4 dormitorios
    </p>

    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        bathtub
      </span>
      2 baños
    </p>

    <p class="d-flex align-items-center">
      <span class="material-icons bac-c-m mr-2">
        outdoor_grill
      </span>
      Parilla
    </p>
  </div>
</div>
