input {
    font-size: 18px;
    font-weight: 400 !important;
    height: 4rem;
    padding: 0 4rem;
    border-radius: 2rem;
    border: 0;
    background: #fff;
    color: #222;
    box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    font-weight: lighter;
  }

  .input-group{
    border-radius: 2rem;
  }

  input:focus {
    outline: none;
    box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff; /* Allows border radius on focus */
  }

  .boton-input {
    color: black;
    position: relative;
    /* width: 2.8rem; */
    width: 2.0rem;
    height: 2.0rem;
    top: 0.6rem;
    /* display: block; */
    padding: 0;
    border: 0;
    border-color: #00A699 !important;
    
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    border-radius: 1.4rem;
    cursor: pointer;
    transition: opacity 0.15s;
    opacity: 0.5;
  }

  #plus-btn{
    background: 
      url('/assets/mas_verde.svg') no-repeat 0 0;
      background-size: 20px 40px;
      background-position: center;
      /* background-color: #00A699; */
      margin-right: 5px;

  }

  #minus-btn{
    background: 
      url('/assets/menos_verde.svg') no-repeat 0 0;
      background-size: 20px 40px;
      background-position: center;
      /* background-color: #00A699; */
      margin-left: 5px;
  }


 
  button:active {
    /* background-position-y: 1px; */
    box-shadow: inset 0 2px 12px -4px #c5d1d9 !important;
  }