<div class="owl-carousel seccion-servicios text-center">
  <div class="item">
    <i class="fa fa-check"></i>
    <p>Aire acondicionado</p>
  </div>
  <div class="item">
    <i class="fa fa-check"></i>
    <p>Teléfono</p>
  </div>
  <div class="item">
    <i class="fa fa-check"></i>
    <p>Lavandería</p>
  </div>
  <div class="item">
    <i class="fa fa-check"></i>
    <p>Calefacción</p>
  </div>
  <div class="item">
    <i class="fa fa-check"></i>
    <p>Televisión</p>
  </div>
  <div class="item">
    <i class="fa fa-check"></i>
    <p>Internet</p>
  </div>
  <div class="item">
    <i class="fa fa-check"></i>
    <p>Electricidad</p>
  </div>
</div>
