<div class="row property-details-list">
    <div class="col-md-4 col-sm-6">
      <p><i class="fa fa-check"></i> Aire acondicionado</p>
      <p><i class="fa fa-check"></i> Teléfono</p>
      <p><i class="fa fa-check"></i> Lavandería</p>
    </div>
    <div class="col-md-4 col-sm-6">
      <p><i class="fa fa-check"></i> Calefacción</p>
      <p><i class="fa fa-check"></i> Televisión</p>
      <p><i class="fa fa-check"></i> Metro Central</p>
    </div>
    <div class="col-md-4">
      <p><i class="fa fa-check"></i> City views</p>
      <p><i class="fa fa-check"></i> Internet</p>
      <p><i class="fa fa-check"></i> Electric Range</p>
    </div>
  </div>