.main-container {
  margin-top: 40px;
  margin-bottom: 150px;
}

.puntero {
  cursor: pointer;
}

.chat-window {
  padding: 10px;
  width: 100%;
  height: 450px;
  overflow: hidden;
  /* border: 1px solid #02a69a; */
  border-radius: 20px;
}

.app-mensajes {
  overflow-y: scroll;
  height: 270px;
  /*background:gray;*/
  padding: 5px;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/* PARRAFO FILTRO */
.separacion-filtro-color {
  background-color: #02a69a;
}
/* PARRAFO FILTRO */
.p-filtro {
  font-size: 21px;
  font-weight: 300;
  color: #02a69a;
}
