<mat-form-field class="example-full-width">
  <mat-label class="text-white"
    >Ubicación <span class="fa fa-search"></span
  ></mat-label>
  <input
    type="text"
    placeholder="¿Dónde querés hospedarte?"
    value=""
    matInput
    [matAutocomplete]="auto"
    [formControl]="myControl"
  />

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="
        let option of opcionesFiltradas | async | slice: 0:3;
        let i = index
      "
      [value]="option"
    >
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
