:root {
  --main-color: #00a699;
  --second-color: #24a148;
}

::ng-deep.mat-select {
  color: white !important;
}

::placeholder {
  color: #ccd1d9;
}

.not-empty-select.mat-selected {
  color: black !important;
}

:host /deep/ .mat-select-value-text {
  color: black !important;
}

/* Select input  */
::ng-deep .mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
  color: black;
}
::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #00a699 !important;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #00a699 !important;
}

::ng-deep.underline-p .mat-form-field .mat-form-field-underline {
  /*change color of underline*/
  background-color: black !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #00a699 !important;
}

::ng-deep.mat-option::selection {
  color: #00a699;
}
::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #00a699 !important;
}

::ng-deep.mat-option.mat-active {
  color: #00a699 !important;
}
