.ingresar {
  font-size: 14px !important;
  font-weight: 400;
}
.link-nav {
  color: #666666;
  font-size: 25px !important;
}

:host ::ng-deep.mat-icon-button {
  outline: none !important;
}
::ng-deep.mat-menu-item {
  outline: none !important;
}

.iconos-nav-user {
  color: #00a699;
  font-size: 25px !important;
  margin-right: 5px;
}

.button-d-fle-item {
  display: flex;
  align-items: center;
}
