<div class="container">
  <div class="row row mt-5 m-0 p-0">
    <div
      class="col-12 col-sm-12 col-md-6 col-lg-4"
      *ngFor="let propiedad of propiedades"
    >
      <!-- Primer item -->
      <div class="item">
        <div class="property-wrap animate__animated animate__fadeIn">
          <a
            [routerLink]="['/propiedad', propiedad.id_prop]"
            class="img"
            [ngStyle]="{
              'background-image': 'url(' + propiedad.img_f[0] + ')'
            }"
          >
            <p class="price d-flex justify-content-between">
              <span class="orig-price"
                >${{ propiedad.propiedad.precio_promedio
                }}<small> / día</small></span
              >
              <span class="img-p-sp"
                ><img
                  class="img-prop shadow"
                  [src]="propiedad.user_picture"
                  title="Julian D."
              /></span>
            </p>
          </a>
          <div class="feature-text border-0">
            <div class="text-center feature-title">
              <h5>{{ propiedad.propiedad.nombre_propiedad | titlecase }}</h5>
              <p>
                <i class="fa fa-map-marker"></i>
                {{ propiedad.propiedad.ciudad | titlecase }},
                {{ propiedad.propiedad.provincia | titlecase }}
              </p>
            </div>
            <div class="col-md-12 text-center text-warning pb-3">
              <i
                class="fa fa-star"
                *ngFor="let n of numSequence(propiedad.calificacion_promedio)"
              ></i>
            </div>
            <div class="col-md-12 text-center pb-3">
              <div class="row">
                <div class="col-6">
                  <button mat-raised-button type="button">
                    Editar Propiedad
                  </button>
                </div>
                <div class="col-6">
                  <button mat-raised-button type="button">
                    Eliminar Propiedad
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Primer item -->
    </div>
  </div>
</div>
