<section
  class="hero-wrap hero-wrap-2"
  style="
    background-image: url('assets/images/background-busqueda.jpg');
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
    >
      <div class="col-md-9 animate__animated animate__fadeIn pb-0 text-center">
        <h1 class="mb-3 bread texto-principal">
          {{ provincia_buscada }}
          <!-- <u style="text-decoration: none; border-bottom: 3px solid #118d6e;"
            >Pilar</u
          >. -->
        </h1>
      </div>
    </div>
  </div>
</section>
