/* CSS para los checkbox */
:host
  ::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #49c5b6 !important;
}

:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #49c5b6;
}
/* CSS para los checkbox */

/* Estas características modifican el color de los slide toggle  */

:host
  ::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-bar {
  background-color: #49c5b6;
}

:host
  ::ng-deep
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb {
  background-color: #49c5b6;
}

/* Estas características modifican el color de los slide toggle  */

.separacion-filtro-color {
  background-color: #49c5b6;
}

/* PARRAFO FILTRO */
.p-filtro {
  font-size: 21px;
  font-weight: 300;
  color: #49c5b6;
}
/* PARRAFO FILTRO */

/* Tamaño de los h5 indicando filtro */
.h5-size {
  font-size: 16.5px !important;
  margin-bottom: 1.3rem !important;
  display: flex;
  align-items: center;
}

:host ::ng-deep.bac-c-m {
  color: #02a69a;
  margin-right: 0.5rem !important;
}

/* Con la presente clase centro los elementos del tipo switch de los filtros */
:host ::ng-deep.t-fuente-mov .d-f-item {
  display: flex !important;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: 481px) and (max-width: 767px) {
  :host ::ng-deep.t-fuente-mov {
    font-size: 12px !important;
    font-weight: 500 !important;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  :host ::ng-deep.t-fuente-mov {
    font-size: 12px !important;
    font-weight: 500 !important;
  }
}
