/* Estas características modifican el color de los slide toggle  */

.separacion-filtro-color {
  background-color: #02a69a;
}

/* PARRAFO FILTRO */
.p-filtro {
  font-size: 21px;
  font-weight: 300;
  color: #02a69a;
}
/* PARRAFO FILTRO */

.img-prop {
  width: 68px !important;
  height: 68px !important;
  border-radius: 50% !important;
}

:host ::ng-deep.mat-raised-button {
  /* border: 1px solid #02a69a; */
  width: 100% !important;
  outline: none !important;
}

/* Input file css*/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid#02a69a;
  /* color: rgba(0, 0, 0, 0.54); */
  background-color: white;
  border-radius: 8px;
  font-size: 14px;
  /* font-weight: bold; */
}

.upload-btn-wrapper input[type="file"] {
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* Loading */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  top: 10px;
  width: 20px;
  height: 20px;
}
.lds-ellipsis div {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #02a69a;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* Nuevas */
:host ::ng-deep.mat-select {
  color: white !important;
}

::placeholder {
  color: #ccd1d9;
}

.not-empty-select.mat-selected {
  color: black !important;
}

:host /deep/ .mat-select-value-text {
  color: black !important;
}

/* Select input  */
:host ::ng-deep .mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
  color: rgba(0, 0, 0, 0.42);
}
:host ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #02a69a !important;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}

:host ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #02a69a !important;
}

:host ::ng-deep.underline-p .mat-form-field .mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(0, 0, 0, 0.42) !important;
}

:host ::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #02a69a !important;
}

:host ::ng-deep.mat-option::selection {
  color: #02a69a;
}
:host ::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #02a69a !important;
}

:host ::ng-deep.mat-option.mat-active {
  color: #02a69a !important;
}

::ng-deep.range-number:focus {
  outline: none;
  box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff; /* Allows border radius on focus */
}

button:active {
  /* background-position-y: 1px; */
  box-shadow: inset 0 2px 12px -4px #c5d1d9 !important;
}
/* Input range numérico */
:host ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgba(0, 0, 0, 0.42) !important;
}

/* Propiedades imput ubicación */
:host ::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #02a69a !important;
}

::ng-deep.mat-step-header .mat-step-icon-selected {
  background-color: #02a69a !important;
}

::ng-deep.mat-step-header .mat-step-icon-state-done {
  background-color: #02a69a !important;
}

::ng-deep.mat-horizontal-stepper-header .mat-step-icon {
  font-size: 12px !important;
}

::ng-deep.mat-step-header .mat-step-icon-state-edit {
  background-color: #02a69a !important;
}
