<nav
  class="navbar navbar-expand-sm navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container justify-content-center align-items-center">
    <a class="navbar-brand logo-class" [routerLink]="['/']">
      <img src="assets/images/icono2.png" width="60" height="60" alt="" />
      Todo<span style="color: #02a69a;">Quintas</span>
    </a>
    <!-- <a class="navbar-brand" href="index.html">TodoQuintas</a> -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="properties.html" class="nav-link color-item"
            >Publicá una propiedad</a
          >
        </li>
        <li class="nav-item">
          <a (click)="auth.login()" class="nav-link ingr">Ingresá</a>
        </li>
        <!-- <li>
          <button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
        </li> -->
        <li>
          <button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
