<!-- Datepicker Angular Material -->
<mat-form-field>
  <mat-label>Fecha</mat-label>
  <mat-date-range-input
    [rangePicker]="picker"
    [formGroup]="range"
    [min]="minDate"
    [max]="maxDate"
  >
    <input
      matStartDate
      formControlName="start"
      (dateInput)="addEvent('input', $event)"
      (dateChange)="addEvent('change', $event)"
    />
    <input matEndDate formControlName="end" readonly />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker
    touchUi
    #picker
    [dateClass]="dateClass()"
    [calendarHeaderComponent]="headerDateRangePicker"
  ></mat-date-range-picker>
</mat-form-field>

<!-- <h1>{{ range.value.start | date }}</h1>
<h1>{{ range.value.end | date }}</h1> -->
<p>Selected range: {{ range.value | json }}</p>
