.example-header {
  display: flex;
  align-items: center;
  padding: 1.5em;
}

.example-header-label {
  flex: 1;
  height: 1em;
  font-weight: 500;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 375px) {
  ::ng-deep.example-header-label {
    font-size: 12px !important;
  }
  ::ng-deep.btn-mobi-r {
    width: 100% !important;
    height: 90% !important;
    font-size: 12px !important;
  }

  ::ng-deep.btn-mobi-r .material-icons {
    font-size: 12px !important;
  }
}

.row-icon {
  cursor: pointer;
}
