.example-header {
  display: flex;
  align-items: center;
  padding: 1.5em;
}

.example-header-label {
  flex: 1;
  height: 1em;
  font-weight: 500;
  text-align: center;
}

.row-icon {
  cursor: pointer;
}
