
<!-- Mavbar escritorio -->
<app-navbar-e-prop *ngIf="navbar_desktop"></app-navbar-e-prop>
<!-- Mavbar escritorio -->

<!-- Mavbar movil -->
<app-navbar-e-prop-mobile *ngIf="navbar_mobile"></app-navbar-e-prop-mobile>
<!-- Mavbar movil -->


<!-- Navbar inferior movil -->
<app-navbar-mobile *ngIf="navbar_mobile"></app-navbar-mobile>
<!-- Navbar inferior movil -->

<!-- <app-search-mobile *ngIf="navbar_mobile"></app-search-mobile> -->

<!-- Seccion de propiedad -->
<app-seccion-propiedad-l></app-seccion-propiedad-l>

<!-- Footer -->
<app-footer></app-footer>
