.transparent {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 134, 255, 0.37241379310344824) 0%,
    rgba(9, 9, 121, 0.11248249299719892) 35%
  ) !important;
}
.pointer {
  cursor: pointer;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/

  background-color: white;
}
:root {
  --main-color: #00a699;
  --second-color: #24a148;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

/* Propiedades imput ubicación */
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #00a699 !important;
}

::ng-deep.mat-label {
  color: white;
}
/* Propiedades imput ubicación */

::ng-deep.mat-select {
  color: white !important;
}

::placeholder {
  color: #f3fafe;
}

input {
  color: white;
}
.not-empty-select.mat-selected {
  color: white !important;
}

:host /deep/ .mat-select-value-text {
  color: white !important;
}

.mobile-margin {
  z-index: 2;
}
