<div class="owl-carousel seccion-propiedades text-center">
  <div class="item">
    <p><i class="fa fa-th-large"></i> 200 m2</p>
  </div>
  <div class="item">
    <p><i class="fa fa-bed"></i> 4 Camas</p>
  </div>
  <div class="item">
    <p><i class="fa fa-car"></i> 2 Autos</p>
  </div>
  <div class="item">
    <p><i class="fa fa-user"></i> 6 personas</p>
  </div>
  <div class="item">
    <p><i class="fa fa-bath"></i> 2 Baños</p>
  </div>
  <div class="item">
    <p><i class="fa fa-building-o"></i> Vivienda Familiar</p>
  </div>
</div>
