<div class="row">
  <div class="col-12 col-lg-9">
    <mat-form-field>
      <mat-label class="ch-in">Desde - Hasta</mat-label>
      <mat-date-range-input
        [rangePicker]="picker"
        [formGroup]="range"
        [min]="minDate"
        [max]="maxDate"
      >
        <input
          matStartDate
          formControlName="start"
          (dateInput)="addEvent('input', $event)"
          (dateChange)="addEvent('change', $event)"
          readonly
        />

        <input matEndDate formControlName="end" readonly />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker
        touchUi
        #picker
        [calendarHeaderComponent]="headerDateRangePicker"
      ></mat-date-range-picker>
    </mat-form-field>
    <!-- Datepicker Angular Material -->
  </div>
  <div class="col-12 col-lg-3 d-flex align-items-center justify-content-end">
    <button
      type="button"
      (click)="restablecerFechas()"
      class="btn btn-primary btn-block align-items-center justify-content-lg-center btn-mobi-r text-center"
    >
      <span class="material-icons mr-1 mt-1"> cached </span>
    </button>
  </div>
</div>
