mat-sidenav,
mat-sidenav-content {
  padding: 20px;
}

/* Tamaño de la barra lateral de los filtros */
mat-sidenav {
  width: 35%;
}

/* Color de la sección del listing de propiedades */
mat-sidenav-content {
  background-color: white;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  mat-sidenav {
    width: 100% !important;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  mat-sidenav {
    width: 100% !important;
  }
}

/* Parrafo indicando la ubicación buscada por el usuario */
.ubicacion {
  font-size: 18px;
}
