<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
    <app-filtros-sidenav (cerrarSidenav)="cerrar($event)"></app-filtros-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-4 col-sm-4 d-flex align-items-center">
          <button
            mat-mini-fab
            (click)="opened = !opened"
            mat-icon-button
            class="modif-but mr-2"
            style="background: #02a69a"
          >
            <span class="material-icons"> keyboard_arrow_left </span>
          </button>
          <p class="m-0 p-0">Filtros</p>
          <!-- <button mat-raised-button (click)="opened = !opened" class="modif-but"><span class="material-icons">
            keyboard_arrow_left
            </span>Filtros</button> -->
        </div>
        <div class="col-12 col-sm-8 py-1">
          <p class="m-0 p-0 ubicacion">
            <i
              class="fa fa fa-location-arrow mr-2"
              aria-hidden="true"
              style="color: #02a69a"
            ></i
            >{{ ciudad_provincia_ubicacion }}
          </p>
        </div>
      </div>
    </div>
    <app-listado-casas-busqueda></app-listado-casas-busqueda>
  </mat-sidenav-content>
</mat-sidenav-container>
