<!-- Footer -->
<footer class="ftco-footer ftco-section pt-5 pb-md-2 pb-sm-4">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <a class="navbar-brand mb-2" href="#">
                <img
                  src="assets/images/icono2.png"
                  width="180"
                  height="40"
                  alt=""
                />
              </a>
            <p>
              Queremos brindarte la mejor experiencia en hospedajes.
            </p>

            <div class="social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <!-- <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Community</h2>
            <ul class="list-unstyled">
              <li>
                <a href="#"
                  ><span class="fa fa-chevron-right mr-2"></span>Search
                  Properties</a
                >
              </li>
              <li>
                <a href="#"
                  ><span class="fa fa-chevron-right mr-2"></span>For Agents</a
                >
              </li>
              <li>
                <a href="#"
                  ><span class="fa fa-chevron-right mr-2"></span>Reviews</a
                >
              </li>
              <li>
                <a href="#"
                  ><span class="fa fa-chevron-right mr-2"></span>FAQs</a
                >
              </li>
            </ul>
          </div>
        </div> -->
        <div class="col-md">
          <div class="ftco-footer-widget mb-2">
            <h2 class="ftco-heading-2">Nosotros</h2>
            <div class="double-menu-widget">
                <ul class="m-0">
                    <li><a href="#">Cómo funciona Todoquintas</a></li>
                    <li><a href="#">Nuestra historia</a></li>
                    <li><a href="#">Misión</a></li>
                    <li><a href="#">Confianza y Seguridad</a></li>
                </ul>
               
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-2">
            <h2 class="ftco-heading-2">Lugares Populares</h2>
            <div class="double-menu-widget">
                <ul>
                    <li><a href="">Tigre</a></li>
                    <li><a href="">Pilar</a></li>
                    <li><a href="">San Nicolás</a></li>
                    <li><a href="">Mar del Plata</a></li>
                </ul>
                <ul>
                    <li><a href="">Villa Gesell</a></li>
                    <li><a href="">Villa Carlos Paz</a></li>
                    <li><a href="">Villa General Belgrano</a></li>
                    <li><a href="">Villa la Angostura</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-2">
            <h2 class="ftco-heading-2">Ayuda</h2>
            <div class="block-23 mb-3">
              <ul>
                <li>
                  <span class="icon fa fa-map"></span>
                  <span class="text">Libertador 1020, Capital Federal, Argentina</span>
                </li>
                <li>
                    <span class="icon fa fa-phone"></span>
                    <span class="text">+54 9 11 2345 1234</span>
                </li>
                <li>
                    <span class="icon fa fa-envelope pr-4"></span>
                    <span class="text">contacto@todoquintas.com</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-nav">
            <ul class="p-0">
              <li><a (click)="openDialogTerminos()" style="cursor: pointer;">Términos y Condiciones</a></li>
              <li><a (click)="openDialogPrivacidad()" style="cursor: pointer;">Política de Privacidad</a></li>

                
            </ul>
        </div>
        <div class="copyright">
            <p>Copyright &copy; 2020 TodoQuintas.com.Todos los derechos reservados.</p>
        </div>
    </div>
    </div>
  </footer>